@import '../shared/colors.pcss';


.inputLabel{
	display: block;
	margin-bottom: 0.5em;
	color: var(--panel-label-color) ;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
}

.inputDescription{
	letter-spacing: .05em;
	margin-top: 8px;
	font-style: normal;
	font-size: 85%;
	color: var(--description-text-color) ;
	clear: both;
}

.fieldContainer{
	margin-bottom: 1.5em;
	clear: both;
}