:root{
	/* padding */
	--panel-padding-horizontal: 15px;
	--panel-padding-vertical: 15px;
	--panel-margin-vertical: 8px;

	--panel-editor-padding-horizontal: 15px;
	--panel-editor-padding-vertical: 15px;

	/* nested-panels */
	--panel-nested-margin-vertical: 12px;

	/* Inputs */
	--field-padding-vertical: 8px;
	--field-padding-horizontal: 10px;

	/* Post fields */
	--post-thumbnail-size: 64px;
	--post-preview-padding: 7px;
}