// Notifications

$color-primary: #428bca;
$color-success: #5cb85c;
$color-info: #5bc0de;
$color-warning: #fcf8e3;
$color-danger: #d15e61;

$post-list-notification-bg-color:#f9e2a9;
$post-list-notification-border-color:#e8cab0;
$post-list-notification-text-color:#c4793a;

// text

$panel-label-color:#444;
$post-list-text-color: #aaa;
$description-text-color: #a2a2a2;
$panel-title-color:#21759B;
$panel-title-editing-color:#fffbfb;
$panel-type-color:#A8A8A8;

// links

$link-color: #999;
$move-hover-color:#333;
$move-hover-color-alt:#dadada;
$arrow-color: #777;
$close-color: #111;
$delete-panel-color: #d15e61;
$delete-panel-hover-color: #555;
$delete-panel-hover-color-alt: #B03234;
$warn-delete-color:#c43d3a;

// buttons

$button-secondary-bg-color:#2ea2cc;
$button-secondary-bg-hover-color: #1e8cbe;
$button-secondary-bg-focus-color: #1b7aa6;

// selects

$select-bg-color: #e9e9e9;

// borders

$border-color: #dddddd;
$border-color-alt: #d7d7d7;
$border-color-dark: #ccc;

// Backgrounds
$panel-bg-color: #fafafa;
$panel-bg-color-alt: #f1f1f1;
$panel-bg-color-light: #fefefe;
$panel-bg-color-dark: #888;
$panel-icon-bg-color: #F9F9F9;

// jQuery ui

$widget-bg-color: #e9e9e9;
$widget-text-color: #2b2b2b;

// misc

$white: #fff;
$black: #000;

// padding

$panel-padding-horizontal: 15px;
$panel-padding-vertical: 15px;
$panel-margin-vertical: 12px;

$panel-editor-padding-horizontal: 15px;
$panel-editor-padding-vertical: 15px;

// nested-panels
$panel-nested-margin-vertical: 12px;

// Inputs
$field-padding-vertical: 8px;
$field-padding-horizontal: 10px;

// Post fields
$post-thumbnail-size: 64px;
$post-preview-padding: 7px;