// Colors
$color-primary: #428bca;
$color-success: #5cb85c;
$color-info: #5bc0de;
$color-warning: #fcf8e3;
$color-danger: #d15e61;

// Panels
$panel-bg-color: #fafafa;
$panel-bg-color: #fafafa;
$panel-border-color: #dddddd;

$panel-padding-horizontal: 6px;
$panel-padding-vertical: 6px;
$panel-margin-vertical: 20px;

$panel-editor-padding-horizontal: 6px;
$panel-editor-padding-vertical: 6px;

// nested-panels
$panel-nested-margin-vertical: 12px;

// Inputs
$field-padding-vertical: 8px;
$field-padding-horizontal: 10px;