
// Panels
$panel-bg-color: #fafafa;
$panel-bg-color: #fafafa;
$panel-border-color: #dddddd;

$panel-padding-horizontal: 6px;
$panel-padding-vertical: 6px;
$panel-margin-vertical: 20px;

$panel-editor-padding-horizontal: 6px;
$panel-editor-padding-vertical: 6px;