@mixin triangle( $direction: up, $size: 9px, $color: $arrow-color ) {
  $size: $size / 2;

  width: 0;
  height: 0;
  border: $size solid transparent;

  // We add +2 to all $size's to make triangle sligtly longer and thinner
  @if ($direction == up) {
    border-bottom: ($size + 2) solid $color;
  }

  @if ($direction == down) {
    border-top: ($size + 2) solid $color;
  }

  @if ($direction == left) {
    border-right: ($size + 2) solid $color;
  }

  @if ($direction == right) {
    border-left: ($size + 2) solid $color;
  }
}