# system/hidden files
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db
.idea

# other
.sass-cache/
assets/bower_components
node_modules
npm-debug.log

# source maps
*.css.map

*.sublime-project
*.sublime-workspace

codeception.yml
tests/codeception/_output/*
vendor/*
!vendor/autoload.php
!vendor/composer
!vendor/moderntribe
**/__coverage__/