//
// Close icons
// --------------------------------------------------
.close {
	float: right;
	font-size: 1.5em;
	font-weight: bold;
	line-height: 1;
	color: #111;
	opacity: .7;

	&:hover,
	&:focus {
		text-decoration: none;
		cursor: pointer;
		opacity: 1;
	}
}

// Additional properties for button version
// iOS requires the button element instead of an anchor tag.
// If you want the anchor version, it requires `href="#"`.
button.close {
	padding: 0;
	cursor: pointer;
	background: transparent;
	border: 0;
	-webkit-appearance: none;

	&:focus {
		opacity: 0.7;
	}
}