//
// Close icons
// --------------------------------------------------
#modular-content{
	button.close {
		float: right;
		font-size: 1.5em;
		font-weight: bold;
		line-height: 1;
		color: $close-color;
		opacity: .7;
		&:hover,
		&:focus {
			text-decoration: none;
			cursor: pointer;
			opacity: 1;
		}
		padding: 0;
		cursor: pointer;
		background: transparent;
		border: 0;
		-webkit-appearance: none;
		&:focus {
			opacity: 0.7;
		}
	}
}

#modular-content {
	.panel-row {
		> .close {
			width: 54px;
			height: 100%;
			.caret {
				margin-top: 12px;
				border-width: 7px;
				border-top-width: 12px;
			}

		}
		&.editing {
			> .close {
				height: 88px;
				.caret {
					border-width: 7px;
					border-bottom-width: 12px;
					margin-top: -3px;
					border-top: 0;
				}
			}
		}
	}
}