.delete-panel {
	display: block;
	text-align: right;
	color: $color-danger;
	text-decoration: none;

	&:hover {
		color: darken($color-danger, 15%);
	}
}

.delete-panel,
.panel-repeater-row .delete {
	cursor: pointer;
	font-size: 14px;
	text-align: right;
	display: block;
}

.panel-row-editor > .delete-panel {
	color: $panel-bg-color-dark;
}

.panel-row-editor > .delete-panel:hover {
	color: $delete-panel-hover-color;
}

.panel-repeater-row .delete {
	padding: 5px 15px 20px;
}

.panel-children-container .delete-panel,
.panel-repeater-row .delete {
	color: $delete-panel-color;
}

.panel-children-container .delete-panel:hover,
.panel-repeater-row .delete:hover {
	color: $delete-panel-hover-color-alt;
}

.delete-panel:before,
.panel-repeater-row .delete:before {
	content: '\f182';
	display: inline-block;
	font-family: "dashicons";
	text-decoration: inherit;
	font-weight: normal;
	font-style: normal;
	vertical-align: top;
	font-size: 15px;
	padding-right: 3px;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}