@import '../../shared/spacing.pcss';
@import '../../shared/colors.pcss';


.panel {
	margin-bottom: 1.5em;
	clear: both;
}

.description {
	composes: inputDescription from "../../shared/fields.pcss";
}


