@import '../../shared/spacing.pcss';
@import '../../shared/colors.pcss';


.panelHTML {
	margin-bottom: 1.5em;
	clear: both;
}

.panelHTMLDescription {
	composes: inputDescription from "../../shared/fields.pcss";
}


