@import '../../shared/spacing.pcss';
@import '../../shared/colors.pcss';

.dragDropArea{
	border: 4px dashed var(--border-color-drag);
}

.dragDropInside{
	margin: 30px auto 30px;
	p {
		color: var(--drag-drop-text);
		font-size: 14px;
		margin: 5px 0;
		text-align:center;
	}
	.dragDropInfo{
		font-size: 20px;
	}
}

.currentUploadedImage{
	display:none;
}