@import '../../shared/spacing.pcss';
@import '../../shared/colors.pcss';

.panelInputLabel {
	composes: inputLabel from "../../shared/fields.pcss";
}

.currentUploadedImage{
	display:none;
	&.currentOpen{
		display:block;
	}
}

.uploaderSection{
	display:none;
	&.uploaderOpen{
		display:block;
	}
}

.removeButtonContainer{
	margin:20px 0;
}

.panelInputDescription {
	composes: inputDescription from "../../shared/fields.pcss";
}
