@import '../../shared/spacing.pcss';
@import '../../shared/colors.pcss';

.field {
	composes: fieldContainer from "../../shared/fields.pcss";
	display: flex;
	width: 99%;

	> div {
		flex: 1;
	}
}

.label {
	composes: inputLabel from "../../shared/fields.pcss";
	margin-right: 10px;
	transform: translate3d(0, 0, 0);
	width: calc(50% - 10px);
}

.description {
	composes: inputDescription from "../../shared/fields.pcss";
}
