@import '../../shared/spacing.pcss';
@import '../../shared/colors.pcss';

.field {
	composes: fieldContainer from "../../shared/fields.pcss";
	transform: translate3d(0, 0, 0);
}

.input {
	composes: input from "../../shared/inputs.pcss";
}

.label {
	composes: inputLabel from "../../shared/fields.pcss";

	.compact & {
		color: #646262;
		font-size: 10px;
		text-align: center;
		font-weight: 600;
	}
}

.description {
	composes: inputDescription from "../../shared/fields.pcss";
}
