@import '../../shared/spacing.pcss';
@import '../../shared/colors.pcss';

.field {
	margin-bottom: 1.5em;
	clear: both;
}

.label {
	composes: inputLabel from "../../shared/fields.pcss";
}


.description {
	composes: inputDescription from "../../shared/fields.pcss";
}