@import '../../shared/spacing.pcss';
@import '../../shared/colors.pcss';

.field{
	composes: fieldContainer from "../../shared/fields.pcss";
	transform: translate3d(0, 0, 0);
}

.radioLabel{
	composes: label from "../../shared/inputs.pcss";
}

.radio {
	composes: radio from "../../shared/inputs.pcss";
}

.label {
	composes: inputLabel from "../../shared/fields.pcss";
}

.description {
	composes: inputDescription from "../../shared/fields.pcss";
}


