@import '../../shared/spacing.pcss';
@import '../../shared/colors.pcss';

.field{
	composes: fieldContainer from "../../shared/fields.pcss";
}

.radioLabel{
	margin-right: 5px;
}

.label {
	composes: inputLabel from "../../shared/fields.pcss";
}

.description {
	composes: inputDescription from "../../shared/fields.pcss";
}


