@import '../../shared/spacing.pcss';
@import '../../shared/colors.pcss';


.field{
	composes: fieldContainer from "../../shared/fields.pcss";
	transform: translate3d(0, 0, 0);
}

.rawTextarea{
	width:100%;
	min-height:300px;
	padding:10px;
}

.label {
	composes: inputLabel from "../../shared/fields.pcss";
}

.description {
	composes: inputDescription from "../../shared/fields.pcss";
}
