#new-panel {
	display: none;
}

#TB_ajaxContent {
	width:640px !important;
	min-height:90% !important;
}

.panel-selection-list {
	overflow:auto;
	width:630px;
}

.new-panel-option {
	display: block;
	float: left;
	width: 290px;
	height: 100px;
	border: 1px solid #ccc;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;

	margin-right: 16px;
	margin-bottom: 16px;

	.thumbnail {
		display: block;
		text-decoration: none;
		overflow: hidden;
	}

	.thumbnail:hover {
		box-shadow: #21759B 0 0 6px;
	}

	.panel-icon {
		float: left;
		height: 100px;
		width: 133px;
		border-right: 1px solid #ccc;
		text-align: center;
		line-height: 100px;
		background-color: #F9F9F9;
		margin-right: 15px;

		img {
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
			vertical-align:middle;
		}
	}

	.panel-title {
		display: block;
		color: #21759B;
		font-weight: bold;
		font-size: 110%;
		margin-right: 15px;
		margin-top: 15px;
		margin-bottom: 5px;
	}
	.panel-description {
		display: block;
		margin-right: 15px;
	}

	.fields {
		display: none;
	}
}