/**
 * Editor
 */
.panel-row-editor {
	display: none;
	padding: $panel-editor-padding-vertical $panel-editor-padding-horizontal;

	.editing > & {
		display: block;
	}
}

/**
 * Editor inputs
 */
.panel-row-editor {
	.panel-input {
		margin-bottom: 1.5em;
		clear: both;
	}

	.panel-input-label {
		font-weight: lighter;
		font-style: italic;
		display: block;
		margin-bottom: 0.5em;
		color: #999;
	}

	legend.panel-input-label{
		color:#999;
		padding:5px 10px;
	}

	.panel-input:first-child .panel-input-label,
	.panel-children-container > h4 {
		font-weight: bold;
		color: inherit;
		font-style: normal;
		font-size: 110%;
	}

	.panel-input-field {
		display: block;
		input, textarea { width: 100%; }
	}

	.panel-checkbox-label {
		font-weight: normal;
		font-size: 100%;
	}

	.panel-input-checkbox {
		display: inline;

		input {
			width: auto;
			margin-right: 0.5em;
		}
	}

	.radio-option {
		margin-right: 5px;
		img { max-width: 100px; max-height: 100px; }
	}

	.updated {
		padding: 1em 1.5em;
		font-weight: bold;
	}

	.input-type-video {
		overflow: hidden;

		.panel-input-field {
			width: 50%;
			float: left;
		}

		.panel-input-preview {
			width: 50%;
			float: right;
			text-align: right;

			img { max-width: 200px; max-height: 200px; }
		}
	}
}

/**
 * Editor fieldset
 */
.panel-row-editor fieldset {
	border: 1px solid #CCC;
	padding: 0.5em 1.5em;

	&.input-type-link {
		border: none;
		padding: 0;
		overflow: hidden;

		.panel-input-field {
			float: left;
			width: 50%;
			padding-right: 2em;
			min-width: 200px;
			margin-bottom: 1em;
		}

		.link-field-target {
			padding-right: 0;
			width: auto;
			min-width: 0;
		}
	}
}