.panel-row, .panel-row * {
	box-sizing: border-box;
}

.panel-row {
	padding: $panel-padding-vertical $panel-padding-horizontal;

	margin-bottom: $panel-margin-vertical;
	margin-top: $panel-margin-vertical;

	border: thin solid $panel-border-color;
	background-color: $panel-background-color;

	&.ui-sortable-helper {
		border: thin dashed #AAA;
		opacity: .5;
	}

	&.ui-sortable-placeholder {
		border: thin dashed #DDD;
		visibility: visible;
	}
}