.panel-row, .panel-row * {
	box-sizing: border-box;
}

.panel-row {
	position: relative;

	padding: $panel-padding-vertical $panel-padding-horizontal;
	margin: $panel-margin-vertical 0;

	border: thin solid $panel-border-color;
	background-color: $panel-bg-color;

	&:not(.editing) {
		cursor: pointer;

		&:hover {
			background-color: darken($panel-bg-color, 2%);
		}
	}

	&.ui-sortable-helper {
		border: thin dashed #AAA;
		opacity: .5;
	}

	&.ui-sortable-placeholder {
		border: thin dashed #DDD;
		visibility: visible;
	}

	> .close {
		position: absolute;
		top: 0;
		right: 0;

		height: 30px;
		width: 34px;
	}

	&.editing > .close {
		height: 32px;
		z-index: 99;
		.caret { @include triangle(up); }
	}

	> button.close:focus {
		outline: none;
	}
}

// Panel states
.panel-row.panel-warning {
	$warning-accent: darken( desaturate($color-warning, 25%), 15% );
	color: $warning-accent;
	background-color: $color-warning;
	border-color: $warning-accent;
}