.panel-row-header {
	.editing > & {
		display: none;
	}

	.media-object {
		padding-right: 6px;
		border-right: thin solid $panel-border-color;
	}

	.panel-title {
		padding: 0 !important; // Reset default wp styling
		border-bottom: none;
	}

	.panel-type {
		margin-top: 0.2em;
		font-weight: lighter;
		font-style: italic;
		color: #A8A8A8;
	}
}