/**
 * Editor
 */
.panel-row-editor {
	display: none;
	padding: $panel-editor-padding-vertical $panel-editor-padding-horizontal;

	.editing > & {
		display: block;
	}
}

/**
 * Editor inputs
 */
.panel-row-editor {
	.panel-input {
		margin-bottom: 1.5em;
		clear: both;
	}

	fieldset.panel-input {
		margin-bottom: 15px;
	}

	.panel-input-label {
		display: block;
		margin-bottom: 0.5em;
		color: $panel-label-color;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
	}

	legend.panel-input-label{
		color: $panel-label-color;
		padding: 0;
	}

	.panel-input:first-child .panel-input-label,
	.panel-children-container > h4 {
		font-weight: bold;
		color: inherit;
		font-style: normal;
		font-size: 110%;
	}

	.panel-input-field {
		display: block;
		input, textarea { width: 100%; }
	}

	.panel-checkbox-label {
		font-weight: normal;
		font-size: 100%;
	}

	.panel-input-checkbox {
		display: inline;

		input {
			width: auto;
			margin-right: 0.5em;
		}
	}

	.radio-option {
		margin-right: 5px;
		img { max-width: 100px; max-height: 100px; }
	}

	.updated {
		padding: 1em 1.5em;
		font-weight: bold;
	}

	.input-type-video {
		overflow: hidden;

		.panel-input-field {
			width: 50%;
			float: left;
		}

		.panel-input-preview {
			width: 50%;
			float: right;
			text-align: right;

			img { max-width: 200px; max-height: 200px; }
		}
	}
	legend.panel-toggle,
	.panel-toggle,
	.panel-children-container > h4 {
		background-color: $panel-bg-color-dark;
		color: $white;
		font-weight: 400;
		font-size: 14px;
		line-height: 1;
		padding: 18px 50px 18px 15px;
		display: block;
		width: 100%;
		position: relative;
		cursor: pointer;
		margin-bottom: 0;
		&:after {
			content: '\f142';
			color: $move-hover-color-alt;
			position: absolute;
			top: 50%;
			right: 0;
			font-family: "dashicons";
			text-decoration: inherit;
			font-weight: normal;
			font-style: normal;
			font-size: 31px;
			text-align: center;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			line-height: 0;
			width: 50px;
		}
		&:hover {
			&:after{
				color: $white;
			}
		}
	}
	legend.panel-toggle.is-closed:after,
	.panel-toggle.is-closed:after,
	.panel-children-container.is-closed > h4:after {
		content: '\f140';
	}
	.panel-input.input-type-title .panel-input-label,
	.panel-children-container > h4 {
		font-size: 14px;
	}
}

.panel-row .input-name-title {
	margin: 0 -15px 25px;
	padding: 5px 15px 25px;
	border-bottom: 1px solid $border-color;
}

.panel-children .panel-row .panel-row-editor > fieldset.panel-input > .panel-input-label {
	margin-bottom: .5em;
	font-size: 14px;
}

.panel-repeater-row .panel-toggle,
.panel-row-editor .panel-children-container > h4 {
	width: auto;
	margin-left: -1px;
	margin-right: -1px;
}

.panel-repeater-row .panel-toggle {
	padding-left: 38px;
}

/**
 * Editor fieldset
 */
.panel-row-editor fieldset {

	&.input-type-link {
		border: none;
		padding: 0;
		overflow: hidden;

		.panel-input-field {
			float: left;
			width: 33%;
			padding-right: 2em;
			min-width: 200px;
			margin-bottom: 1em;
		}

		.link-field-target {
			padding-right: 0;
			width: auto;
			min-width: 0;
		}
	}
}

.editing {
	.panel-row-editor {
		border: thin solid $border-color;
		border-bottom: 0;
		padding-bottom: 30px;
	}
}