.panel-row, .panel-row * {
	box-sizing: border-box;
}

.panel-row {
	padding: 10px;
	overflow: hidden;
	clear: both;

	margin-bottom: 5px;
	margin-top: 5px;

	border: 1px solid #DDD;
	background-color: #fafafa;

	&.ui-sortable-helper {
		border: 1px dashed #AAA;
		opacity: .5;
	}

	&.ui-sortable-placeholder {
		border: 1px dashed #DDD;
		visibility: visible;
	}
}