@import '../../../shared/colors.pcss';

@svg-load info url('../../../img/icons/info.svg') {

	path {
		fill: var(--button-bare-text-color);
	}
}

.icon {
	width: 12px;
	height: 20px;
	background: var(--color-white) svg-inline(info) 50% 50% no-repeat;
	background-size: contain;
	position: relative;
	top: 5px;
	z-index: 10;
}
