@import '../../../shared/colors.pcss';

@svg-load infoIcon url('../../../img/icons/info.svg') {

	polygon {
		fill: var(--button-bare-text-color);
	}
}

.icon {
	display: inline-block;

	i {
		display: inline-block;
		width: 12px;
		height: 12px;
		background: var(--color-white) svg-inline(infoIcon) 50% 50% no-repeat;
		background-size: contain;
	}
}
