@import '../../../shared/colors.pcss';
@import '../../../shared/spacing.pcss';
@import '../../../shared/fields.pcss';

.wrapper{
	padding:5px;
	margin-bottom: var(--panel-margin-vertical);
	border: 1px solid var(--border-color);
	background: var(--panel-post-bg-color);
}

.label {
	composes: inputLabel from "../../../shared/fields.pcss";
}

.inputContainer {

}