@import '../../../shared/spacing.pcss';
@import '../../../shared/colors.pcss';


.filter {
	margin-bottom: 12px;
}

.label {
	composes: inputLabel from "../../../shared/fields.pcss";
}

.remove{
	composes: remove from "../../../shared/fields.pcss";
}

.inputContainer {
	input {
		padding: var(--field-padding-vertical) var(--field-padding-horizontal);
		width: 100%;
	}
	& > div {
		width:calc(50% - 5px);
		margin-right:10px;
		display: inline-block;
		&:last-of-type{
			margin-right:0;
		}
	}
}
