@import '../../../shared/spacing.pcss';
@import '../../../shared/colors.pcss';


.filter {
	border-bottom: 1px #ccc solid;
	padding:10px 0 ;
}

.label {
	composes: inputLabel from "../../../shared/fields.pcss";
}

.inputContainer {
	input {
		padding: var(--field-padding-vertical) var(--field-padding-horizontal);
		width: 100%;
	}
}
