@import '../../../shared/spacing.pcss';
@import '../../../shared/colors.pcss';


.filter {
}

.label {
	composes: inputLabel from "../../../shared/fields.pcss";
}

.remove{
	composes: remove from "../../../shared/fields.pcss";
}

.inputContainer {
	input {
		padding: var(--field-padding-vertical) var(--field-padding-horizontal);
		width: 100%;
	}
}

