@import '../../../shared/colors.pcss';

.container {
	margin: 10px 0;
	padding: 20px 10px;
	position: relative;
	border: 1px solid var(--border-color);
	overflow: hidden;
	text-align: center;
	button{
		min-width:150px;
	}
}

.divider {
	display: block;
	height: 5px;
}