.container {
	lost-flex-container: row;
	padding-top: 5px;
}

.button{
	composes: line from "../shared/buttons.pcss";
}

[data-live-edit="true"]{
	.container {
		display: block;
		padding:10px;
	}
	[data-expanded="true"]{
		.container {
			display: flex;
		}
	}
}

[data-live-active="true"][data-live-edit="false"] {
	.container {
		display: none;
	}
}
