
.primary{
	composes: reset from "../../shared/buttons.pcss";
	composes: primary from "../../shared/buttons.pcss";
}

.secondary{
	composes: reset from "../../shared/buttons.pcss";
	composes: secondary from "../../shared/buttons.pcss";
}

.full{
	composes: full from "../../shared/buttons.pcss";
}

.inline{
	composes: inline from "../../shared/buttons.pcss";
}