@import '../../shared/spacing.pcss';
@import '../../shared/colors.pcss';

.currentUploadedFile{
	display:none;
	&.currentOpen{
		display:block;
	}
}

.uploaderSection{
	display:none;
	&.uploaderOpen{
		display:block;
	}
}

.removeButtonContainer{
	margin:20px 0;
}