@import '../../shared/spacing.pcss';
@import '../../shared/colors.pcss';

.container {
	max-width: 300px;
}

.currentUploadedFile{
	display:none;
	&.currentOpen{
		display:block;
		text-align: center;
		img {
			max-width: 100%;
		}
	}
}

.uploaderSection{
	display:none;
	&.uploaderOpen{
		display:block;
	}
}

.removeButtonContainer{
	margin:5px 0 20px 0;
}