.input-name-layout {

	input[type="radio"] {
		display: none;
	}

	img {
		background: #ccc;
		opacity: 0.4;
		transition: all 0.1s ease-out;
		backface-visibility: hidden;
	}

	input[type="radio"]:checked + img, img:hover {
		opacity: 0.6;
		background: transparent;
		border: thin solid #d7d7d7;
		box-shadow: 0 1px 1px rgba(black, 0.08);
	}

	input[type="radio"]:checked + img {
		opacity: 1;
	}

}