.uploadContainer, .current-uploaded-image {
	margin: 0 !important;
	img {
		max-width: 100%;
	}
}

.uploaderSection {
	.drag-drop-inside {
		margin-bottom: 48px;
	}

	.drag-drop-buttons {
		text-align: center;
	}
}

.drag-drop .drag-drop-inside {
	margin-bottom: 48px;
}