.panel-input-field {
	input {
		padding: $field-padding-vertical $field-padding-horizontal;
	}
}

/* Various Panel Titles, Headlines, Grouping Headline Blocks */

.panel-children-title {
	font-size: 18px;
	margin: 0 0 18px;
	color: $panel-label-color;
	padding: 0;
}

/* Panel Field Helper Text */

.description.panel-input-description {
	letter-spacing: .05em;
	margin-top: 8px;
}

/* Background Color Options */

.input-name-block_option_bgd_color input[type="radio"] {
	display: none;
}

.input-name-block_option_bgd_color img {
	width: 42px;
	height: 42px;
	padding: 2px;
	background: $white;
	opacity: 0.4;
	border: solid 1px $border-color-alt;
	-webkit-transition: all .1s ease-out;
	transition: all .1s ease-out;
	backface-visibility: hidden;
}

.input-name-block_option_bgd_color input[type="radio"]:checked + img,
.input-name-block_option_bgd_color img:hover {
	opacity: 1;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
}
