.input-type-imageselect {
	label {
		display: inline-block;
		vertical-align: top;
	}

	.label-text {
		width: 80px;
	}

	input[type="radio"] {
		display: none;
	}

	img {
		background: $border-color-dark;
		opacity: 0.4;
		transition: all 0.1s ease-out;
		backface-visibility: hidden;
		display: block;
	}

	input[type="radio"]:checked + img, img:hover {
		opacity: 0.6;
		background-color: $white;
		border: thin solid $border-color-alt;
		box-shadow: 0 1px 1px rgba($black, 0.08);
	}

	input[type="radio"]:checked + img {
		opacity: 1;
	}

	.label-text {
		display: block;
		text-align: center;
		font-weight: bold;
		padding: 2px;
		border: thin solid transparent;
	}

	input[type="radio"]:checked + .label-text, input[type="radio"] + .label-text:hover {
		background-color: $white;
		box-shadow: 0 1px 1px rgba($black, 0.08);
		border-color: $border-color-alt;
	}

}
