.panel-input-posts {
	fieldset {
		border: none;
		padding: 1em 0;
	}
}

.panel-input-posts {
	label {
		display: block;
		margin-bottom: 0.4em;
		color: #aaa;
		font-weight: lighter;
	}

	.description {
		margin-left: 1em;
		color: #aaa;
		font-weight: lighter;
		font-size: 85%;
		vertical-align: bottom;
	}
}

.panel-input-posts .search-controls {
	padding-bottom: 1em;
	border-bottom: 1px solid #DDD;
	margin-bottom: 1em;

	.panel-filter-row { border-top: none; }

	.filter-options { width: 100%; }

	select, .select2-container {
		width: 100%;
		display: table;
		table-layout: fixed;
	}

	.button { margin-top: 1em; }

}

.panel-input-posts {
	.selection-notices {
		display: none;

		margin: 1em 0;
		padding: 0.8em 1em;

		background-color: #f9e2a9;
		border: thin solid #e8cab0;

		color: #c4793a;

		[class*="icon"] {
			margin-right: 0.5em;
		}
	}

	.selection {
		width: 100%;
		overflow: hidden;
	}

	.selected-post {
		position: relative;
	}

	.selected-post .remove-selected-post {
		position: absolute;
		top: 0;
		right: 0;
		padding: 0.5em;
		background-color: #fff;
		text-decoration: none;
		display: none;
	}

	.selected-post .remove-selected-post:hover {
		color: #c43d3a;
	}

	.selection .selected-post:hover {
		background-color: #fff;
		box-shadow: 0 1px 3px rgba(0,0,0,.2);
	}

	.selected-post:hover .remove-selected-post {
		display: block;
	}

	.selected-post.empty .remove-selected-post {
		display: none;
	}

	.post-preview, .selected-post {
		position: relative;
		padding: $post-preview-padding;
		background-color: #f1f1f1;
		margin-bottom: 1em;
		border: 1px solid #ddd;
		min-height: 80px;
	}

	.post-title {
		margin-top: 0;
		margin-bottom: 0;
		font-size: 15px;
		text-indent: 2px;
	}

	.selection .selected-post .select2-container {
		width: 100%;
		max-width: 300px;
	}

	.post-title, .post-excerpt {
		padding-right: $post-thumbnail-size + $post-preview-padding + 15px;
	}


	.post-excerpt, .post-excerpt {
		margin-top: 7px;
	}

	.post-thumbnail {
		position: absolute;
		top: $post-preview-padding;
		right: $post-preview-padding;
		width: $post-thumbnail-size;
		height: $post-thumbnail-size;
		text-align: center;
	}

	.post-preview img,
	.selected-post img {
		width: auto;
		max-width: 100%;
		height: auto;
		max-height: 100%;
	}

	.select-filters {
		width: 100%;
	}

	.panel-filter-row {
		border-top: 1px solid #DDD;
		padding: 10px 0;
	}

	.query-filters {
		margin-top: 10px;

		label {
			display: inline-block;
			width: 20%;
		}
	}

	.filter-options {
		display: inline-block;
		width: 70%;
	}

	.panel-filter-row select, .panel-filter-row .select2-container {
		width: 100% !important;
	}

	.filter-type-group-p2p {
		select.p2p-search-post-type-filter {
			width: 32% !important;
			margin-right: 1%;
		}
		.select2-container {
			width: 65% !important;
		}
	}

	.remove-filter {
		display: inline-block;
		overflow: hidden;
		margin-left: 10px;
		color: #999;
		text-decoration: none;
		vertical-align: middle;
		float: right;

		&:hover { color: #c43d3a; }
	}

}

.panel-input-posts .selected-post.disabled {
	opacity: 0.5;
	cursor: auto;
}

/**
 * Placeholder post
 */
.panel-input-posts {
	.selected-post.empty {
		background-color: #fff;

		&:hover {
			box-shadow: none;
		}

		.post-title, .text-line, .post-thumbnail {
			background-color: #f1f1f1;
		}

		.post-title {
			width: 45%;
			height: 18px;
		}

		.text-line {
			height: 7px;
			margin-top: 7px;

			&:first-child { margin-top: 0; }

			&:nth-child(1) { width: 100%; }
			&:nth-child(2) { width: 88%; }
			&:nth-child(3) { width: 97%; }
		}

		.post-thumbnail {
			width: $post-thumbnail-size;
			height: $post-thumbnail-size;
		}
	}

}