.panel-input-posts, .panel-input-post-list {
	fieldset {
		border: none;
		padding: 1em 0;
	}

	label {
		display: block;
		margin-bottom: 0.4em;
		color: $post-list-text-color;
		font-weight: lighter;
	}

	.description {
		margin-left: 1em;
		color: $post-list-text-color;
		font-weight: lighter;
		font-size: 85%;
		vertical-align: bottom;
	}

	.search-controls {
		padding-bottom: 1em;
		border-bottom: 1px solid $border-color;
		margin-bottom: 1em;

		.panel-filter-row { border-top: none; }

		.filter-options { width: 100%; }

		select, .select2-container {
			width: 100%;
			display: table;
			table-layout: fixed;
		}

		.button { margin-top: 1em; }
	}

	.selection-notices {
		display: none;

		margin: 1em 0;
		padding: 0.8em 1em;

		background-color: $post-list-notification-bg-color;
		border: thin solid $post-list-notification-border-color;

		color: $post-list-notification-text-color;

		[class*="icon"] {
			margin-right: 0.5em;
		}
	}

	.selection {
		width: 100%;
		overflow: hidden;
	}

	.selected-post {
		position: relative;
	}

	.selected-post .remove-selected-post {
		position: absolute;
		top: 0;
		right: 0;
		padding: 0.5em;
		background-color: $white;
		text-decoration: none;
		display: none;
	}

	.selected-post .remove-selected-post:hover {
		color: $warn-delete-color;
	}

	.selection .selected-post:hover {
		background-color: $white;
		box-shadow: 0 1px 3px rgba(0,0,0,.2);
	}

	.selected-post:hover .remove-selected-post {
		display: block;
	}

	.selected-post.empty .remove-selected-post {
		display: none;
	}

	.post-preview, .selected-post {
		position: relative;
		padding: $post-preview-padding;
		background-color: $panel-bg-color-alt;
		margin-bottom: 1em;
		border: 1px solid $border-color;
		min-height: 80px;
	}

	.post-title,
	.post-url {
		margin-top: 0;
		margin-bottom: 0;
		font-size: 15px;
		text-indent: 2px;
	}

	.selection .selected-post .select2-container {
		width: 100%;
		max-width: 300px;
	}

	.post-title, .post-excerpt {
		padding-right: $post-thumbnail-size + $post-preview-padding + 15px;
	}


	.post-excerpt, .post-excerpt {
		margin-top: 7px;
	}

	.post-thumbnail {
		position: absolute;
		top: $post-preview-padding;
		right: $post-preview-padding;
		width: $post-thumbnail-size;
		height: $post-thumbnail-size;
		text-align: center;
	}

	.post-preview img,
	.selected-post img {
		width: auto;
		max-width: 100%;
		height: auto;
		max-height: 100%;
	}

	.select-filters {
		width: 100%;
	}

	.panel-filter-row {
		border-top: 1px solid $border-color;
		padding: 10px 0;
	}

	.query-filters {
		margin-top: 10px;

		label {
			display: inline-block;
			width: 20%;
		}
	}

	.filter-options {
		display: inline-block;
		width: 70%;
	}

	.panel-filter-row select, .panel-filter-row .select2-container {
		width: 100% !important;
	}

	.filter-type-group-p2p {
		select.p2p-search-post-type-filter {
			width: 32% !important;
			margin-right: 1%;
		}
		.select2-container {
			width: 65% !important;
		}
	}

	.remove-filter {
		display: inline-block;
		overflow: hidden;
		margin-left: 10px;
		color: $link-color;
		text-decoration: none;
		vertical-align: middle;
		float: right;

		&:hover { color: $warn-delete-color; }
	}

	.selected-post.disabled {
		opacity: 0.5;
		cursor: auto;
	}

	.selected-post .select-post-input {
		display: none;
	}

	.selected-post .manual-post-input {
		display: none;
	}

	.selected-post .selected-post-toggle {
		display: none;
		position: absolute;
		width: 100%;
		height: 100%;
		text-align: center;
		top: 0;
		left: 0;
		background-color: rgba(255, 255, 255, 0.6);
		padding-top: 2em;

		a {
			display: inline-block;
			margin: 0 2em;
		}
	}

	.selected-post.select.no-post .select-post-input {
		display: block;

		.post-type {
			width: 50%;
			margin-bottom: 1em;
		}

		.post-picker {
			width: 100%;
			margin-bottom: 1em;

			button {
				margin-left: 1em;
			}
		}
	}

	.selected-post.manual {
		min-height: 165px;
	}
	&.hidden-thumbnail_id .selected-post.manual {
		min-height: 0;
	}

	.selected-post.manual .manual-post-input {
		display: block;

		.post-title, .post-excerpt, .post-url {
			padding-left: 10px;
			padding-right: 10px;
			width: 65%;
		}

		.post-excerpt {
			min-height: 8em;
		}

		.attachment-helper-uploader {
			position: absolute;
			top: 7px;
			right: 7px;
			width: 150px;
			height: 150px;
			text-align: center;
		}

		.drag-drop-inside {
			width: auto;
			margin: 1em !important;
		}

		.attachment-thumbnail {
			max-height: 100px;
			max-width: 100px;
			display: inline-block;
		}
		.wp-caption {
			display: none;
		}
		.remove-botton-container {
			margin: 5px 0 0;
		}
	}

	/**
	 * Placeholder post
	 */
	.selected-post.empty {
		background-color: $white;

		&:hover {
			box-shadow: none;
		}

		.post-title, .text-line, .post-thumbnail {
			background-color: $panel-bg-color-alt;
		}

		.post-title {
			width: 45%;
			height: 18px;
		}

		.text-line {
			height: 7px;
			margin-top: 7px;

			&:first-child { margin-top: 0; }

			&:nth-child(1) { width: 100%; }
			&:nth-child(2) { width: 88%; }
			&:nth-child(3) { width: 97%; }
		}

		.post-thumbnail {
			width: $post-thumbnail-size;
			height: $post-thumbnail-size;
		}
	}

	.selected-post.empty ~ .selected-post.empty .selected-post-toggle {
		display: none;
	}

	.selected-post.empty .selected-post-toggle,
	.selected-post.empty ~ .selected-post.empty:hover .selected-post-toggle {
		display: block;
	}

	.button-secondary {
		border-radius: 0;
		border: 0;
		box-shadow: none;
		padding: 0 12px;
		font-size: 12px;
		height: 30px;
		line-height: 30px;
		background: $button-secondary-bg-color;
		color: $white;
		&:hover {
			background: $button-secondary-bg-hover-color;
			color: $white;
		}
		&:focus,
		&:active {
			background: $button-secondary-bg-focus-color;
			color: rgba( 255, 255, 255, 0.95 );
		}
	}
}

.hidden-post_title {
	.selected-post-preview .post-title,
	.manual-post-input .post-title,
	.post-preview .post-title {
		display: none;
	}
}
.hidden-post_content {
	.selected-post-preview .post-excerpt,
	.manual-post-input .post-excerpt,
	.post-preview .post-excerpt {
		display: none;
	}
}
.hidden-url {
	.manual-post-input .post-url {
		display: none;
	}
}
.hidden-thumbnail_id {
	.selected-post-preview .post-thumbnail,
	.manual-post-input .attachment-helper-uploader,
	.post-preview .post-thumbnail {
		display: none;
	}
}

.hidden-post_content.hidden-thumbnail_id .selected-post.manual .manual-post-input {
	.post-title, .post-url {
		display: inline;
		width: 45%;
		padding-right: 0;
	}
}
.hidden-thumbnail_id .selected-post.select {
	min-height: 35px;
}

.panel-toggle + .ui-widget-content.panel-input-group,
.panel-toggle + .input-type-posts .ui-widget-content.panel-input-group {
	border-top: 0;
}
.panels{
	.ui-widget-content{
		&.panel-input-group{
			border: thin solid $border-color;
			.ui-tabs-nav {
				padding-left: 15px;
				padding-right: 15px;
				border-radius: 0;
			}
			.manual.ui-tabs-panel,
			.fieldgroup.ui-tabs-panel,
			.query.ui-tabs-panel {
				padding-left: 15px;
				padding-right: 15px;
				padding-bottom: 15px;
				background-color: $white;
			}
		}
	}
	.ui-tabs-nav .ui-corner-top {
		border-radius: 0;
	}
	.ui-state-active,
	.ui-widget-content .ui-state-active,
	.ui-widget-header .ui-state-active {
		background-color: $white;
		border-bottom-color: transparent;
	}
	.select2-container-multi {
		.select2-choice {
			background-image: none;
			border-radius: 0;
			height: 29px;
			.select2-arrow {
				border-radius: 0;
				background-image: none;
				background-color: $select-bg-color;
			}
		}
		.select2-choices {
			background-image: none;
			.select2-search-choice {
				border-radius: 0;
				background-image: none;
				background-color: $select-bg-color;
				box-shadow: none;
			}
		}
		.select2-search-choice-close {
			top: 3px;
		}
	}
}

.input-type-archive .filter-post_type-container .panel-filter-row {
	border-top: 0;
}