.panel-repeater-row {
	/*margin: 5px 0;
	padding: 20px 0;
	border-bottom: 1px solid #ddd;*/
	clear: both;
	background:#fff;
	padding:30px;
	margin: 30px 0;
	border: 1px solid #e5e5e5;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.06);
	box-shadow: 0 1px 1px rgba(0,0,0,0.06)
}

.panel-repeater-row > .panel-input {
	clear: none;
}

.panel-input-repeater-row-controls .move {
	display: inline-block;
	margin-left: 0;
	overflow: hidden;
	vertical-align: middle;
	color: #999;
	text-decoration: none;
	line-height: 25px;
	cursor: pointer;
}
.panel-input-repeater-row-controls .move:hover {
	color: #333;
}

.panel-input-repeater-row-controls .delete {
	display: inline-block;
	margin-left: 10px;
	overflow: hidden;
	vertical-align: middle;
	color: #999;
	text-decoration: none;
	float: right;
	line-height: 25px;
}
.panel-input-repeater-row-controls .delete:hover {
	color: #c43d3a;
}

.panel-repeater-new-row {
	text-decoration: none;
}
.panel-repeater-new-row:before {
	color: green;
	font-size: 125%;
	vertical-align: middle;
}

.panel-children-container {
	padding-top: 1em;
	padding-bottom: 2em;
	border-top: 1px solid #DDD;
	clear: both;

	background: #fefefe;
 	padding: 30px;
 	box-shadow: 0 1px 1px rgba(0,0,0,0.06);
 	border: 1px solid #e5e5e5;
	padding-bottom: 22px;
	margin-bottom: 14px;
}

.panel-children-container > h4 {
	margin-top: 0;
	margin-bottom: 1.5em;
}

.panel-children {
	margin-bottom: 2em;
}

/**
 * Panel Children
 */
.panel-children-container .panel-row {
	margin-top: $panel-nested-margin-vertical;
	margin-bottom: $panel-nested-margin-vertical;
}