.panel-repeater-row {
	clear: both;
	background:$white;
	border: 1px solid $border-color;
	border-top: 0;
	margin: 0 0 15px;
	&.panel-toggle-closed {
		border-color: transparent;
	}
	.panel-input,
	fieldset.input-type-link {
		padding: 0 15px;
		background-color: $white;
		border-bottom: 0;
		margin-top: 20px;
	}
	.panel-input{
		&.input-type-text,
		&.input-type-title {
			margin-left: 0;
			margin-right: 0;
		}
	}
	.panel-input ~ .panel-input {
		padding-top: 0;
	}
}

.panel-repeater-row > .panel-input {
	clear: none;
}

.panels .ui-widget-content.panel-input-group,
.panel-repeater-row .panel-input {
	padding: 20px 0 0;
	border-radius: 0;
	background-color: $panel-bg-color;
}

.panel-row-editor fieldset,
.panel-repeater-row {
	box-shadow: none;
}

.panel-input-repeater-row-controls .move {
	display: inline-block;
	margin-left: 0;
	overflow: hidden;
	vertical-align: middle;
	color: $link-color;
	text-decoration: none;
	line-height: 25px;
	cursor: pointer;
}
.panel-input-repeater-row-controls .move:hover {
	color: $move-hover-color;
}

.panels .move {
	color: $white;
	position: absolute;
	height: 100%;
	width: 40px;
	top: 0;
	left: 0;
	text-align: center;
	z-index: 1;
	padding: 18px 0;
	&:hover,
	&:focus {
		color: $move-hover-color-alt;
	}
}

.panel-input-repeater-row-controls .delete {
	display: inline-block;
	margin-left: 10px;
	overflow: hidden;
	vertical-align: middle;
	color: $link-color;
	text-decoration: none;
	float: right;
	line-height: 25px;
}
.panel-input-repeater-row-controls .delete:hover {
	color: $warn-delete-color;
}

.panel-repeater-new-row {
	text-decoration: none;
}
.panel-repeater-new-row:before {
	color: green;
	font-size: 125%;
	vertical-align: middle;
}

.panel-children-container {
	clear: both;
	background: $panel-bg-color-light;
	padding: 0;
	border: thin solid $border-color;
	border-top: 0;
	margin-bottom: 30px;
	&.panel-toggle-closed {
		border-color: transparent;
	}
	> h4 {
		margin-top: 0;
		margin-bottom: 1.5em;
	}
	.panel-row {
		margin-top: 0;
		margin-bottom: 15px;
	}
}

.panel-input-repeater > .panel-input-label,
.panel-input-type-group > .panel-input-label {
	font-size: 18px;
	margin-bottom: 18px;
}

.panel-repeater-new-row {
	height: 42px;
	line-height: 43px;
	padding: 0 20px;
	background: $button-secondary-bg-color;
	color: $white;
	text-decoration: none;
	vertical-align: top;
	display: inline-block;
	font-size: 12px;
	margin: 0;
	white-space: nowrap;
	&:hover {
		background: $button-secondary-bg-hover-color;
		color: $white;
	}
	&:focus,
	&:active {
		background: $button-secondary-bg-focus-color;
		color: rgba( 255, 255, 255, 0.95 );
		vertical-align: top;
	}
	&:before {
		color: $white;
		padding-right: 5px;
		vertical-align: top;
	}
}

.panel-repeater-row .panel-input,
.panel-repeater-row fieldset.input-type-link {
	background-color: $white;
	border-bottom: 0 none;
	margin-top: 20px;
	padding: 0 15px;
}

.panel-children .input-name-nav_title {
	display: none;
}

/**
 * Panel Children
 */

.panel-children {
	padding: 0 15px;
	margin-bottom: 15px;
	margin-top: 20px;
}

.panel-children-container .panel-row {
	margin-top: $panel-nested-margin-vertical;
	margin-bottom: $panel-nested-margin-vertical;
}