/* line 14, ../sass/mixins/_clearfix.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 19, ../sass/mixins/_clearfix.scss */
.clearfix:after {
  clear: both;
}

/* line 12, ../sass/utility/_utilities.scss */
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 15, ../sass/utility/_utilities.scss */
.pull-right {
  float: right !important;
}

/* line 18, ../sass/utility/_utilities.scss */
.pull-left {
  float: left !important;
}

/* line 27, ../sass/utility/_utilities.scss */
.hide {
  display: none !important;
}

/* line 30, ../sass/utility/_utilities.scss */
.show {
  display: block !important;
}

/* line 33, ../sass/utility/_utilities.scss */
.invisible {
  visibility: hidden;
}

/* line 36, ../sass/utility/_utilities.scss */
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

/* line 46, ../sass/utility/_utilities.scss */
#modular-content .hidden {
  display: none !important;
  visibility: hidden !important;
}

/* line 1, ../sass/modules/_ui-widget.scss */
.ui-widget {
  font-family: inherit;
  font-size: 100%;
}
/* line 5, ../sass/modules/_ui-widget.scss */
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
  font-family: inherit;
  font-size: 1em;
}
/* line 10, ../sass/modules/_ui-widget.scss */
.ui-widget .ui-widget {
  font-size: 1em;
}

/* line 1, ../sass/modules/_add-new.scss */
.create-new-panel, .add-new-child-panel {
  display: block;
  margin-top: 1em;
  font-size: 16px;
  font-weight: lighter;
  color: #999999;
  text-decoration: none;
}
/* line 10, ../sass/modules/_add-new.scss */
.create-new-panel:before, .add-new-child-panel:before {
  font-size: 175%;
  vertical-align: middle;
  margin-right: 5px;
  position: relative;
  top: 1px;
}

/* line 19, ../sass/modules/_add-new.scss */
.create-new-panel,
.add-new-child-panel,
.save-panel-set {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
}

/* line 27, ../sass/modules/_add-new.scss */
.create-new-panel:before,
.add-new-child-panel:before,
.save-panel-set:before {
  font-size: 23px;
  margin-right: 7px;
  position: relative;
  bottom: 1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: top;
}

/* line 39, ../sass/modules/_add-new.scss */
.add-new-child-panel {
  padding: 0 15px 20px;
  margin-top: 20px;
  margin-bottom: 0;
}

/**
 * Base media component
 * Source: http://stubbornella.org/content/?p=497
 */
/* line 7, ../sass/modules/_media.scss */
.media,
.media-body {
  overflow: hidden;
  zoom: 1;
}

/* line 14, ../sass/modules/_media.scss */
.media,
.media .media {
  margin-top: 15px;
}

/* line 18, ../sass/modules/_media.scss */
.media:first-child {
  margin-top: 0;
}

/* line 23, ../sass/modules/_media.scss */
.media-object {
  display: block;
}

/* line 28, ../sass/modules/_media.scss */
.media-heading {
  margin: 0 0 5px;
}

/* line 37, ../sass/modules/_media.scss */
.media .pull-left {
  margin-right: 15px;
}
/* line 40, ../sass/modules/_media.scss */
.media .pull-right {
  margin-left: 15px;
}

/* line 50, ../sass/modules/_media.scss */
.media-list {
  padding-left: 0;
  list-style: none;
}

/* line 5, ../sass/modules/_close.scss */
#modular-content button.close {
  float: right;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1;
  color: #111111;
  opacity: .7;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
/* line 12, ../sass/modules/_close.scss */
#modular-content button.close:hover, #modular-content button.close:focus {
  text-decoration: none;
  cursor: pointer;
  opacity: 1;
}
/* line 23, ../sass/modules/_close.scss */
#modular-content button.close:focus {
  opacity: 0.7;
}

/* line 31, ../sass/modules/_close.scss */
#modular-content .panel-row > .close {
  width: 54px;
  height: 100%;
}
/* line 34, ../sass/modules/_close.scss */
#modular-content .panel-row > .close .caret {
  margin-top: 12px;
  border-width: 7px;
  border-top-width: 12px;
}
/* line 42, ../sass/modules/_close.scss */
#modular-content .panel-row.editing > .close {
  height: 88px;
}
/* line 44, ../sass/modules/_close.scss */
#modular-content .panel-row.editing > .close .caret {
  border-width: 7px;
  border-bottom-width: 12px;
  margin-top: -3px;
  border-top: 0;
}

/* line 1, ../sass/modules/_delete-panel.scss */
.delete-panel {
  display: block;
  text-align: right;
  color: #d15e61;
  text-decoration: none;
}
/* line 7, ../sass/modules/_delete-panel.scss */
.delete-panel:hover {
  color: #b03236;
}

/* line 12, ../sass/modules/_delete-panel.scss */
.delete-panel,
.panel-repeater-row .delete {
  cursor: pointer;
  font-size: 14px;
  text-align: right;
  display: block;
}

/* line 20, ../sass/modules/_delete-panel.scss */
.panel-row-editor > .delete-panel {
  color: #888888;
}

/* line 24, ../sass/modules/_delete-panel.scss */
.panel-row-editor > .delete-panel:hover {
  color: #555555;
}

/* line 28, ../sass/modules/_delete-panel.scss */
.panel-repeater-row .delete {
  padding: 5px 15px 20px;
}

/* line 32, ../sass/modules/_delete-panel.scss */
.panel-children-container .delete-panel,
.panel-repeater-row .delete {
  color: #d15e61;
}

/* line 37, ../sass/modules/_delete-panel.scss */
.panel-children-container .delete-panel:hover,
.panel-repeater-row .delete:hover {
  color: #b03234;
}

/* line 42, ../sass/modules/_delete-panel.scss */
.delete-panel:before,
.panel-repeater-row .delete:before {
  content: '\f182';
  display: inline-block;
  font-family: "dashicons";
  text-decoration: inherit;
  font-weight: normal;
  font-style: normal;
  vertical-align: top;
  font-size: 15px;
  padding-right: 3px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 2, ../sass/modules/_caret.scss */
.caret {
  display: inline-block;
  vertical-align: middle;
  margin-left: 2px;
  width: 0;
  height: 0;
  border: 4.5px solid transparent;
  border-top: 6.5px solid #777777;
}

/* line 1, ../sass/panels/_panel-container.scss */
.panels {
  padding: 0.15em 0;
}

/* line 1, ../sass/panels/_panel.scss */
.panel-row, .panel-row * {
  box-sizing: border-box;
}

/* line 5, ../sass/panels/_panel.scss */
.wp-editor-wrap * {
  box-sizing: content-box;
}

/* line 9, ../sass/panels/_panel.scss */
.panel-row {
  position: relative;
  padding: 15px 15px;
  margin-top: 12px;
  margin-bottom: 12px;
  border: thin solid #dddddd;
  background-color: #fafafa;
  transition: -webkit-transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
/* line 21, ../sass/panels/_panel.scss */
.panel-row:not(.editing) {
  cursor: pointer;
}
/* line 24, ../sass/panels/_panel.scss */
.panel-row:not(.editing):hover {
  background-color: whitesmoke;
}
/* line 29, ../sass/panels/_panel.scss */
.panel-row.ui-sortable-helper {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  z-index: 999999 !important;
}
/* line 35, ../sass/panels/_panel.scss */
.panel-row.ui-sortable-placeholder {
  border: thin dashed #dddddd;
  visibility: visible;
}
/* line 40, ../sass/panels/_panel.scss */
.panel-row > .close {
  position: absolute;
  top: 0;
  right: 0;
  height: 30px;
  width: 34px;
}
/* line 49, ../sass/panels/_panel.scss */
.panel-row.editing {
  padding: 0;
}
/* line 53, ../sass/panels/_panel.scss */
.panel-row.editing > .close {
  height: 32px;
  z-index: 999;
}
/* line 56, ../sass/panels/_panel.scss */
.panel-row.editing > .close .caret {
  width: 0;
  height: 0;
  border: 4.5px solid transparent;
  border-bottom: 6.5px solid white;
}
/* line 59, ../sass/panels/_panel.scss */
.panel-row > button.close:focus {
  outline: none;
}

/* line 66, ../sass/panels/_panel.scss */
.panel-builder-border-color {
  border-color: transparent !important;
  border-bottom: thin solid #dddddd !important;
}

/* line 71, ../sass/panels/_panel.scss */
.panel-row-drop-placeholder {
  border: thin dashed #dddddd;
}

/* line 76, ../sass/panels/_panel.scss */
.panel-row.panel-warning {
  background-color: #fcf8e3;
  border-color: #e7deab;
}

/* line 1, ../sass/panels/_panel-header.scss */
.panel-row-header {
  padding-right: 40px;
}
/* line 3, ../sass/panels/_panel-header.scss */
.editing > .panel-row-header {
  position: relative;
  box-shadow: 0 1px 0 #fffcf9;
  border-top: thin solid rgba(255, 255, 255, 0.62);
  border-right: thin solid rgba(255, 255, 255, 0.25);
  border-bottom: thin solid rgba(0, 0, 0, 0.2);
  border-left: thin solid rgba(255, 255, 255, 0.25);
  padding: 15px 15px 10px;
}
/* line 15, ../sass/panels/_panel-header.scss */
.editing > .panel-row-header .panel-title, .editing > .panel-row-header .panel-type {
  color: #fffbfb;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
/* line 20, ../sass/panels/_panel-header.scss */
.editing > .panel-row-header .media-object {
  border-right-color: #fffbfb;
}
/* line 24, ../sass/panels/_panel-header.scss */
.editing > .panel-row-header:before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
  content: "";
}
/* line 36, ../sass/panels/_panel-header.scss */
.panel-row-header .media-object {
  padding-right: 6px;
  border-right: thin solid #dddddd;
}
/* line 41, ../sass/panels/_panel-header.scss */
.panel-row-header .panel-title {
  padding: 0 !important;
  border-bottom: none;
}
/* line 46, ../sass/panels/_panel-header.scss */
.panel-row-header .panel-type {
  margin-top: 0.2em;
  font-weight: lighter;
  font-style: italic;
  color: #a8a8a8;
}

/* line 55, ../sass/panels/_panel-header.scss */
.editing > .panel-row-header {
  border: 0;
  padding-right: 40px;
}
/* line 58, ../sass/panels/_panel-header.scss */
.editing > .panel-row-header:before {
  content: none;
}

/* line 1, ../sass/panels/_new-panel.scss */
#new-panel {
  display: none;
}

/* line 5, ../sass/panels/_new-panel.scss */
#TB_ajaxContent {
  width: 640px !important;
  min-height: 90% !important;
}

/* line 10, ../sass/panels/_new-panel.scss */
.panel-selection-list {
  overflow: auto;
  width: 630px;
}

/* line 15, ../sass/panels/_new-panel.scss */
.new-panel-option {
  display: block;
  float: left;
  width: 290px;
  height: 100px;
  border: 1px solid #cccccc;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  margin-right: 16px;
  margin-bottom: 16px;
}
/* line 28, ../sass/panels/_new-panel.scss */
.new-panel-option .thumbnail {
  display: block;
  text-decoration: none;
  overflow: hidden;
}
/* line 34, ../sass/panels/_new-panel.scss */
.new-panel-option .thumbnail:hover {
  box-shadow: #21759b 0 0 6px;
}
/* line 38, ../sass/panels/_new-panel.scss */
.new-panel-option .panel-icon {
  float: left;
  height: 100px;
  width: 133px;
  border-right: 1px solid #cccccc;
  text-align: center;
  line-height: 100px;
  background-color: #f9f9f9;
  margin-right: 15px;
}
/* line 48, ../sass/panels/_new-panel.scss */
.new-panel-option .panel-icon img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
/* line 57, ../sass/panels/_new-panel.scss */
.new-panel-option .panel-title {
  display: block;
  color: #21759b;
  font-weight: bold;
  font-size: 110%;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 5px;
}
/* line 66, ../sass/panels/_new-panel.scss */
.new-panel-option .panel-description {
  display: block;
  margin-right: 15px;
}
/* line 71, ../sass/panels/_new-panel.scss */
.new-panel-option .fields {
  display: none;
}

/**
 * Editor
 */
/* line 4, ../sass/panels/_panel-editor.scss */
.panel-row-editor {
  display: none;
  padding: 15px 15px;
}
/* line 8, ../sass/panels/_panel-editor.scss */
.editing > .panel-row-editor {
  display: block;
}

/**
 * Editor inputs
 */
/* line 17, ../sass/panels/_panel-editor.scss */
.panel-row-editor .panel-input {
  margin-bottom: 1.5em;
  clear: both;
}
/* line 22, ../sass/panels/_panel-editor.scss */
.panel-row-editor fieldset.panel-input {
  margin-bottom: 15px;
}
/* line 26, ../sass/panels/_panel-editor.scss */
.panel-row-editor .panel-input-label {
  display: block;
  margin-bottom: 0.5em;
  color: #444444;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
}
/* line 35, ../sass/panels/_panel-editor.scss */
.panel-row-editor legend.panel-input-label {
  color: #444444;
  padding: 0;
}
/* line 40, ../sass/panels/_panel-editor.scss */
.panel-row-editor .panel-input:first-child .panel-input-label,
.panel-row-editor .panel-children-container > h4 {
  font-weight: bold;
  color: inherit;
  font-style: normal;
  font-size: 110%;
}
/* line 48, ../sass/panels/_panel-editor.scss */
.panel-row-editor .panel-input-field {
  display: block;
}
/* line 50, ../sass/panels/_panel-editor.scss */
.panel-row-editor .panel-input-field input, .panel-row-editor .panel-input-field textarea {
  width: 100%;
}
/* line 53, ../sass/panels/_panel-editor.scss */
.panel-row-editor .panel-checkbox-label {
  font-weight: normal;
  font-size: 100%;
}
/* line 58, ../sass/panels/_panel-editor.scss */
.panel-row-editor .panel-input-checkbox {
  display: inline;
}
/* line 61, ../sass/panels/_panel-editor.scss */
.panel-row-editor .panel-input-checkbox input {
  width: auto;
  margin-right: 0.5em;
}
/* line 67, ../sass/panels/_panel-editor.scss */
.panel-row-editor .radio-option {
  margin-right: 5px;
}
/* line 69, ../sass/panels/_panel-editor.scss */
.panel-row-editor .radio-option img {
  max-width: 100px;
  max-height: 100px;
}
/* line 72, ../sass/panels/_panel-editor.scss */
.panel-row-editor .updated {
  padding: 1em 1.5em;
  font-weight: bold;
}
/* line 77, ../sass/panels/_panel-editor.scss */
.panel-row-editor .input-type-video {
  overflow: hidden;
}
/* line 80, ../sass/panels/_panel-editor.scss */
.panel-row-editor .input-type-video .panel-input-field {
  width: 50%;
  float: left;
}
/* line 85, ../sass/panels/_panel-editor.scss */
.panel-row-editor .input-type-video .panel-input-preview {
  width: 50%;
  float: right;
  text-align: right;
}
/* line 90, ../sass/panels/_panel-editor.scss */
.panel-row-editor .input-type-video .panel-input-preview img {
  max-width: 200px;
  max-height: 200px;
}
/* line 93, ../sass/panels/_panel-editor.scss */
.panel-row-editor legend.panel-toggle,
.panel-row-editor .panel-toggle,
.panel-row-editor .panel-children-container > h4 {
  background-color: #888888;
  color: white;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  padding: 18px 50px 18px 15px;
  display: block;
  width: 100%;
  position: relative;
  cursor: pointer;
  margin-bottom: 0;
}
/* line 107, ../sass/panels/_panel-editor.scss */
.panel-row-editor legend.panel-toggle:after,
.panel-row-editor .panel-toggle:after,
.panel-row-editor .panel-children-container > h4:after {
  content: '\f142';
  color: #dadada;
  position: absolute;
  top: 50%;
  right: 0;
  font-family: "dashicons";
  text-decoration: inherit;
  font-weight: normal;
  font-style: normal;
  font-size: 31px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 0;
  width: 50px;
}
/* line 125, ../sass/panels/_panel-editor.scss */
.panel-row-editor legend.panel-toggle:hover:after,
.panel-row-editor .panel-toggle:hover:after,
.panel-row-editor .panel-children-container > h4:hover:after {
  color: white;
}
/* line 130, ../sass/panels/_panel-editor.scss */
.panel-row-editor legend.panel-toggle.is-closed:after,
.panel-row-editor .panel-toggle.is-closed:after,
.panel-row-editor .panel-children-container.is-closed > h4:after {
  content: '\f140';
}
/* line 135, ../sass/panels/_panel-editor.scss */
.panel-row-editor .panel-input.input-type-title .panel-input-label,
.panel-row-editor .panel-children-container > h4 {
  font-size: 14px;
}

/* line 141, ../sass/panels/_panel-editor.scss */
.panel-row .input-name-title {
  margin: 0 -15px 25px;
  padding: 5px 15px 25px;
  border-bottom: 1px solid #dddddd;
}

/* line 147, ../sass/panels/_panel-editor.scss */
.panel-children .panel-row .panel-row-editor > fieldset.panel-input > .panel-input-label {
  margin-bottom: .5em;
  font-size: 14px;
}

/* line 152, ../sass/panels/_panel-editor.scss */
.panel-repeater-row .panel-toggle,
.panel-row-editor .panel-children-container > h4 {
  width: auto;
  margin-left: -1px;
  margin-right: -1px;
}

/* line 159, ../sass/panels/_panel-editor.scss */
.panel-repeater-row .panel-toggle {
  padding-left: 38px;
}

/**
 * Editor fieldset
 */
/* line 168, ../sass/panels/_panel-editor.scss */
.panel-row-editor fieldset.input-type-link {
  border: none;
  padding: 0;
  overflow: hidden;
}
/* line 173, ../sass/panels/_panel-editor.scss */
.panel-row-editor fieldset.input-type-link .panel-input-field {
  float: left;
  width: 33%;
  padding-right: 2em;
  min-width: 200px;
  margin-bottom: 1em;
}
/* line 181, ../sass/panels/_panel-editor.scss */
.panel-row-editor fieldset.input-type-link .link-field-target {
  padding-right: 0;
  width: auto;
  min-width: 0;
}

/* line 190, ../sass/panels/_panel-editor.scss */
.editing .panel-row-editor {
  border: thin solid #dddddd;
  border-bottom: 0;
  padding-bottom: 30px;
}

/* line 1, ../sass/input/_description.scss */
.description.panel-input-description {
  font-style: normal;
  font-size: 85%;
  color: #a2a2a2;
}

/* line 1, ../sass/input/_wp-uploader.scss */
.uploadContainer, .current-uploaded-image {
  margin: 0 !important;
}
/* line 3, ../sass/input/_wp-uploader.scss */
.uploadContainer img, .current-uploaded-image img {
  max-width: 100%;
}

/* line 9, ../sass/input/_wp-uploader.scss */
.uploaderSection .drag-drop-inside {
  margin-bottom: 48px;
}
/* line 13, ../sass/input/_wp-uploader.scss */
.uploaderSection .drag-drop-buttons {
  text-align: center;
}

/* line 18, ../sass/input/_wp-uploader.scss */
.drag-drop .drag-drop-inside {
  margin-bottom: 48px;
}

/* line 2, ../sass/fields/_base.scss */
.panel-input-field input {
  padding: 8px 10px;
}

/* Various Panel Titles, Headlines, Grouping Headline Blocks */
/* line 9, ../sass/fields/_base.scss */
.panel-children-title {
  font-size: 18px;
  margin: 0 0 18px;
  color: #444444;
  padding: 0;
}

/* Panel Field Helper Text */
/* line 18, ../sass/fields/_base.scss */
.description.panel-input-description {
  letter-spacing: .05em;
  margin-top: 8px;
}

/* Background Color Options */
/* line 25, ../sass/fields/_base.scss */
.input-name-block_option_bgd_color input[type="radio"] {
  display: none;
}

/* line 29, ../sass/fields/_base.scss */
.input-name-block_option_bgd_color img {
  width: 42px;
  height: 42px;
  padding: 2px;
  background: white;
  opacity: 0.4;
  border: solid 1px #d7d7d7;
  transition: all .1s ease-out;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

/* line 41, ../sass/fields/_base.scss */
.input-name-block_option_bgd_color input[type="radio"]:checked + img,
.input-name-block_option_bgd_color img:hover {
  opacity: 1;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
}

/* line 1, ../sass/fields/_posts.scss */
.panel-input-posts, .panel-input-post-list {
  /**
   * Placeholder post
   */
}
/* line 2, ../sass/fields/_posts.scss */
.panel-input-posts fieldset, .panel-input-post-list fieldset {
  border: none;
  padding: 1em 0;
}
/* line 7, ../sass/fields/_posts.scss */
.panel-input-posts label, .panel-input-post-list label {
  display: block;
  margin-bottom: 0.4em;
  color: #aaaaaa;
  font-weight: lighter;
}
/* line 14, ../sass/fields/_posts.scss */
.panel-input-posts .description, .panel-input-post-list .description {
  margin-left: 1em;
  color: #aaaaaa;
  font-weight: lighter;
  font-size: 85%;
  vertical-align: bottom;
}
/* line 22, ../sass/fields/_posts.scss */
.panel-input-posts .search-controls, .panel-input-post-list .search-controls {
  padding-bottom: 1em;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 1em;
}
/* line 27, ../sass/fields/_posts.scss */
.panel-input-posts .search-controls .panel-filter-row, .panel-input-post-list .search-controls .panel-filter-row {
  border-top: none;
}
/* line 29, ../sass/fields/_posts.scss */
.panel-input-posts .search-controls .filter-options, .panel-input-post-list .search-controls .filter-options {
  width: 100%;
}
/* line 31, ../sass/fields/_posts.scss */
.panel-input-posts .search-controls select, .panel-input-posts .search-controls .select2-container, .panel-input-post-list .search-controls select, .panel-input-post-list .search-controls .select2-container {
  width: 100%;
  display: table;
  table-layout: fixed;
}
/* line 37, ../sass/fields/_posts.scss */
.panel-input-posts .search-controls .button, .panel-input-post-list .search-controls .button {
  margin-top: 1em;
}
/* line 40, ../sass/fields/_posts.scss */
.panel-input-posts .selection-notices, .panel-input-post-list .selection-notices {
  display: none;
  margin: 1em 0;
  padding: 0.8em 1em;
  background-color: #f9e2a9;
  border: thin solid #e8cab0;
  color: #c4793a;
}
/* line 51, ../sass/fields/_posts.scss */
.panel-input-posts .selection-notices [class*="icon"], .panel-input-post-list .selection-notices [class*="icon"] {
  margin-right: 0.5em;
}
/* line 56, ../sass/fields/_posts.scss */
.panel-input-posts .selection, .panel-input-post-list .selection {
  width: 100%;
  overflow: hidden;
}
/* line 61, ../sass/fields/_posts.scss */
.panel-input-posts .selected-post, .panel-input-post-list .selected-post {
  position: relative;
}
/* line 65, ../sass/fields/_posts.scss */
.panel-input-posts .selected-post .remove-selected-post, .panel-input-post-list .selected-post .remove-selected-post {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em;
  background-color: white;
  text-decoration: none;
  display: none;
}
/* line 75, ../sass/fields/_posts.scss */
.panel-input-posts .selected-post .remove-selected-post:hover, .panel-input-post-list .selected-post .remove-selected-post:hover {
  color: #c43d3a;
}
/* line 79, ../sass/fields/_posts.scss */
.panel-input-posts .selection .selected-post:hover, .panel-input-post-list .selection .selected-post:hover {
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
/* line 84, ../sass/fields/_posts.scss */
.panel-input-posts .selected-post:hover .remove-selected-post, .panel-input-post-list .selected-post:hover .remove-selected-post {
  display: block;
}
/* line 88, ../sass/fields/_posts.scss */
.panel-input-posts .selected-post.empty .remove-selected-post, .panel-input-post-list .selected-post.empty .remove-selected-post {
  display: none;
}
/* line 92, ../sass/fields/_posts.scss */
.panel-input-posts .post-preview, .panel-input-posts .selected-post, .panel-input-post-list .post-preview, .panel-input-post-list .selected-post {
  position: relative;
  padding: 7px;
  background-color: #f1f1f1;
  margin-bottom: 1em;
  border: 1px solid #dddddd;
  min-height: 80px;
}
/* line 101, ../sass/fields/_posts.scss */
.panel-input-posts .post-title,
.panel-input-posts .post-url, .panel-input-post-list .post-title,
.panel-input-post-list .post-url {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 15px;
  text-indent: 2px;
}
/* line 109, ../sass/fields/_posts.scss */
.panel-input-posts .selection .selected-post .select2-container, .panel-input-post-list .selection .selected-post .select2-container {
  width: 100%;
  max-width: 300px;
}
/* line 114, ../sass/fields/_posts.scss */
.panel-input-posts .post-title, .panel-input-posts .post-excerpt, .panel-input-post-list .post-title, .panel-input-post-list .post-excerpt {
  padding-right: 86px;
}
/* line 119, ../sass/fields/_posts.scss */
.panel-input-posts .post-excerpt, .panel-input-posts .post-excerpt, .panel-input-post-list .post-excerpt, .panel-input-post-list .post-excerpt {
  margin-top: 7px;
}
/* line 123, ../sass/fields/_posts.scss */
.panel-input-posts .post-thumbnail, .panel-input-post-list .post-thumbnail {
  position: absolute;
  top: 7px;
  right: 7px;
  width: 64px;
  height: 64px;
  text-align: center;
}
/* line 132, ../sass/fields/_posts.scss */
.panel-input-posts .post-preview img,
.panel-input-posts .selected-post img, .panel-input-post-list .post-preview img,
.panel-input-post-list .selected-post img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}
/* line 140, ../sass/fields/_posts.scss */
.panel-input-posts .select-filters, .panel-input-post-list .select-filters {
  width: 100%;
}
/* line 144, ../sass/fields/_posts.scss */
.panel-input-posts .panel-filter-row, .panel-input-post-list .panel-filter-row {
  border-top: 1px solid #dddddd;
  padding: 10px 0;
}
/* line 149, ../sass/fields/_posts.scss */
.panel-input-posts .query-filters, .panel-input-post-list .query-filters {
  margin-top: 10px;
}
/* line 152, ../sass/fields/_posts.scss */
.panel-input-posts .query-filters label, .panel-input-post-list .query-filters label {
  display: inline-block;
  width: 20%;
}
/* line 158, ../sass/fields/_posts.scss */
.panel-input-posts .filter-options, .panel-input-post-list .filter-options {
  display: inline-block;
  width: 70%;
}
/* line 163, ../sass/fields/_posts.scss */
.panel-input-posts .panel-filter-row select, .panel-input-posts .panel-filter-row .select2-container, .panel-input-post-list .panel-filter-row select, .panel-input-post-list .panel-filter-row .select2-container {
  width: 100% !important;
}
/* line 168, ../sass/fields/_posts.scss */
.panel-input-posts .filter-type-group-p2p select.p2p-search-post-type-filter, .panel-input-post-list .filter-type-group-p2p select.p2p-search-post-type-filter {
  width: 32% !important;
  margin-right: 1%;
}
/* line 172, ../sass/fields/_posts.scss */
.panel-input-posts .filter-type-group-p2p .select2-container, .panel-input-post-list .filter-type-group-p2p .select2-container {
  width: 65% !important;
}
/* line 177, ../sass/fields/_posts.scss */
.panel-input-posts .remove-filter, .panel-input-post-list .remove-filter {
  display: inline-block;
  overflow: hidden;
  margin-left: 10px;
  color: #999999;
  text-decoration: none;
  vertical-align: middle;
  float: right;
}
/* line 186, ../sass/fields/_posts.scss */
.panel-input-posts .remove-filter:hover, .panel-input-post-list .remove-filter:hover {
  color: #c43d3a;
}
/* line 189, ../sass/fields/_posts.scss */
.panel-input-posts .selected-post.disabled, .panel-input-post-list .selected-post.disabled {
  opacity: 0.5;
  cursor: auto;
}
/* line 194, ../sass/fields/_posts.scss */
.panel-input-posts .selected-post .select-post-input, .panel-input-post-list .selected-post .select-post-input {
  display: none;
}
/* line 198, ../sass/fields/_posts.scss */
.panel-input-posts .selected-post .manual-post-input, .panel-input-post-list .selected-post .manual-post-input {
  display: none;
}
/* line 202, ../sass/fields/_posts.scss */
.panel-input-posts .selected-post .selected-post-toggle, .panel-input-post-list .selected-post .selected-post-toggle {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.6);
  padding-top: 2em;
}
/* line 213, ../sass/fields/_posts.scss */
.panel-input-posts .selected-post .selected-post-toggle a, .panel-input-post-list .selected-post .selected-post-toggle a {
  display: inline-block;
  margin: 0 2em;
}
/* line 219, ../sass/fields/_posts.scss */
.panel-input-posts .selected-post.select.no-post .select-post-input, .panel-input-post-list .selected-post.select.no-post .select-post-input {
  display: block;
}
/* line 222, ../sass/fields/_posts.scss */
.panel-input-posts .selected-post.select.no-post .select-post-input .post-type, .panel-input-post-list .selected-post.select.no-post .select-post-input .post-type {
  width: 50%;
  margin-bottom: 1em;
}
/* line 227, ../sass/fields/_posts.scss */
.panel-input-posts .selected-post.select.no-post .select-post-input .post-picker, .panel-input-post-list .selected-post.select.no-post .select-post-input .post-picker {
  width: 100%;
  margin-bottom: 1em;
}
/* line 231, ../sass/fields/_posts.scss */
.panel-input-posts .selected-post.select.no-post .select-post-input .post-picker button, .panel-input-post-list .selected-post.select.no-post .select-post-input .post-picker button {
  margin-left: 1em;
}
/* line 237, ../sass/fields/_posts.scss */
.panel-input-posts .selected-post.manual, .panel-input-post-list .selected-post.manual {
  min-height: 165px;
}
/* line 240, ../sass/fields/_posts.scss */
.panel-input-posts.hidden-thumbnail_id .selected-post.manual, .panel-input-post-list.hidden-thumbnail_id .selected-post.manual {
  min-height: 0;
}
/* line 244, ../sass/fields/_posts.scss */
.panel-input-posts .selected-post.manual .manual-post-input, .panel-input-post-list .selected-post.manual .manual-post-input {
  display: block;
}
/* line 247, ../sass/fields/_posts.scss */
.panel-input-posts .selected-post.manual .manual-post-input .post-title, .panel-input-posts .selected-post.manual .manual-post-input .post-excerpt, .panel-input-posts .selected-post.manual .manual-post-input .post-url, .panel-input-post-list .selected-post.manual .manual-post-input .post-title, .panel-input-post-list .selected-post.manual .manual-post-input .post-excerpt, .panel-input-post-list .selected-post.manual .manual-post-input .post-url {
  padding-left: 10px;
  padding-right: 10px;
  width: 65%;
}
/* line 253, ../sass/fields/_posts.scss */
.panel-input-posts .selected-post.manual .manual-post-input .post-excerpt, .panel-input-post-list .selected-post.manual .manual-post-input .post-excerpt {
  min-height: 8em;
}
/* line 257, ../sass/fields/_posts.scss */
.panel-input-posts .selected-post.manual .manual-post-input .attachment-helper-uploader, .panel-input-post-list .selected-post.manual .manual-post-input .attachment-helper-uploader {
  position: absolute;
  top: 7px;
  right: 7px;
  width: 150px;
  height: 150px;
  text-align: center;
}
/* line 266, ../sass/fields/_posts.scss */
.panel-input-posts .selected-post.manual .manual-post-input .drag-drop-inside, .panel-input-post-list .selected-post.manual .manual-post-input .drag-drop-inside {
  width: auto;
  margin: 1em !important;
}
/* line 271, ../sass/fields/_posts.scss */
.panel-input-posts .selected-post.manual .manual-post-input .attachment-thumbnail, .panel-input-post-list .selected-post.manual .manual-post-input .attachment-thumbnail {
  max-height: 100px;
  max-width: 100px;
  display: inline-block;
}
/* line 276, ../sass/fields/_posts.scss */
.panel-input-posts .selected-post.manual .manual-post-input .wp-caption, .panel-input-post-list .selected-post.manual .manual-post-input .wp-caption {
  display: none;
}
/* line 279, ../sass/fields/_posts.scss */
.panel-input-posts .selected-post.manual .manual-post-input .remove-botton-container, .panel-input-post-list .selected-post.manual .manual-post-input .remove-botton-container {
  margin: 5px 0 0;
}
/* line 287, ../sass/fields/_posts.scss */
.panel-input-posts .selected-post.empty, .panel-input-post-list .selected-post.empty {
  background-color: white;
}
/* line 290, ../sass/fields/_posts.scss */
.panel-input-posts .selected-post.empty:hover, .panel-input-post-list .selected-post.empty:hover {
  box-shadow: none;
}
/* line 294, ../sass/fields/_posts.scss */
.panel-input-posts .selected-post.empty .post-title, .panel-input-posts .selected-post.empty .text-line, .panel-input-posts .selected-post.empty .post-thumbnail, .panel-input-post-list .selected-post.empty .post-title, .panel-input-post-list .selected-post.empty .text-line, .panel-input-post-list .selected-post.empty .post-thumbnail {
  background-color: #f1f1f1;
}
/* line 298, ../sass/fields/_posts.scss */
.panel-input-posts .selected-post.empty .post-title, .panel-input-post-list .selected-post.empty .post-title {
  width: 45%;
  height: 18px;
}
/* line 303, ../sass/fields/_posts.scss */
.panel-input-posts .selected-post.empty .text-line, .panel-input-post-list .selected-post.empty .text-line {
  height: 7px;
  margin-top: 7px;
}
/* line 307, ../sass/fields/_posts.scss */
.panel-input-posts .selected-post.empty .text-line:first-child, .panel-input-post-list .selected-post.empty .text-line:first-child {
  margin-top: 0;
}
/* line 309, ../sass/fields/_posts.scss */
.panel-input-posts .selected-post.empty .text-line:nth-child(1), .panel-input-post-list .selected-post.empty .text-line:nth-child(1) {
  width: 100%;
}
/* line 310, ../sass/fields/_posts.scss */
.panel-input-posts .selected-post.empty .text-line:nth-child(2), .panel-input-post-list .selected-post.empty .text-line:nth-child(2) {
  width: 88%;
}
/* line 311, ../sass/fields/_posts.scss */
.panel-input-posts .selected-post.empty .text-line:nth-child(3), .panel-input-post-list .selected-post.empty .text-line:nth-child(3) {
  width: 97%;
}
/* line 314, ../sass/fields/_posts.scss */
.panel-input-posts .selected-post.empty .post-thumbnail, .panel-input-post-list .selected-post.empty .post-thumbnail {
  width: 64px;
  height: 64px;
}
/* line 320, ../sass/fields/_posts.scss */
.panel-input-posts .selected-post.empty ~ .selected-post.empty .selected-post-toggle, .panel-input-post-list .selected-post.empty ~ .selected-post.empty .selected-post-toggle {
  display: none;
}
/* line 324, ../sass/fields/_posts.scss */
.panel-input-posts .selected-post.empty .selected-post-toggle,
.panel-input-posts .selected-post.empty ~ .selected-post.empty:hover .selected-post-toggle, .panel-input-post-list .selected-post.empty .selected-post-toggle,
.panel-input-post-list .selected-post.empty ~ .selected-post.empty:hover .selected-post-toggle {
  display: block;
}
/* line 329, ../sass/fields/_posts.scss */
.panel-input-posts .button-secondary, .panel-input-post-list .button-secondary {
  border-radius: 0;
  border: 0;
  box-shadow: none;
  padding: 0 12px;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  background: #2ea2cc;
  color: white;
}
/* line 339, ../sass/fields/_posts.scss */
.panel-input-posts .button-secondary:hover, .panel-input-post-list .button-secondary:hover {
  background: #1e8cbe;
  color: white;
}
/* line 343, ../sass/fields/_posts.scss */
.panel-input-posts .button-secondary:focus, .panel-input-posts .button-secondary:active, .panel-input-post-list .button-secondary:focus, .panel-input-post-list .button-secondary:active {
  background: #1b7aa6;
  color: rgba(255, 255, 255, 0.95);
}

/* line 352, ../sass/fields/_posts.scss */
.hidden-post_title .selected-post-preview .post-title,
.hidden-post_title .manual-post-input .post-title,
.hidden-post_title .post-preview .post-title {
  display: none;
}

/* line 359, ../sass/fields/_posts.scss */
.hidden-post_content .selected-post-preview .post-excerpt,
.hidden-post_content .manual-post-input .post-excerpt,
.hidden-post_content .post-preview .post-excerpt {
  display: none;
}

/* line 366, ../sass/fields/_posts.scss */
.hidden-url .manual-post-input .post-url {
  display: none;
}

/* line 371, ../sass/fields/_posts.scss */
.hidden-thumbnail_id .selected-post-preview .post-thumbnail,
.hidden-thumbnail_id .manual-post-input .attachment-helper-uploader,
.hidden-thumbnail_id .post-preview .post-thumbnail {
  display: none;
}

/* line 379, ../sass/fields/_posts.scss */
.hidden-post_content.hidden-thumbnail_id .selected-post.manual .manual-post-input .post-title, .hidden-post_content.hidden-thumbnail_id .selected-post.manual .manual-post-input .post-url {
  display: inline;
  width: 45%;
  padding-right: 0;
}

/* line 385, ../sass/fields/_posts.scss */
.hidden-thumbnail_id .selected-post.select {
  min-height: 35px;
}

/* line 389, ../sass/fields/_posts.scss */
.panel-toggle + .ui-widget-content.panel-input-group,
.panel-toggle + .input-type-posts .ui-widget-content.panel-input-group {
  border-top: 0;
}

/* line 395, ../sass/fields/_posts.scss */
.panels .ui-widget-content.panel-input-group {
  border: thin solid #dddddd;
}
/* line 397, ../sass/fields/_posts.scss */
.panels .ui-widget-content.panel-input-group .ui-tabs-nav {
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 0;
}
/* line 402, ../sass/fields/_posts.scss */
.panels .ui-widget-content.panel-input-group .manual.ui-tabs-panel,
.panels .ui-widget-content.panel-input-group .fieldgroup.ui-tabs-panel,
.panels .ui-widget-content.panel-input-group .query.ui-tabs-panel {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  background-color: white;
}
/* line 412, ../sass/fields/_posts.scss */
.panels .ui-tabs-nav .ui-corner-top {
  border-radius: 0;
}
/* line 415, ../sass/fields/_posts.scss */
.panels .ui-state-active,
.panels .ui-widget-content .ui-state-active,
.panels .ui-widget-header .ui-state-active {
  background-color: white;
  border-bottom-color: transparent;
}
/* line 422, ../sass/fields/_posts.scss */
.panels .select2-container-multi .select2-choice {
  background-image: none;
  border-radius: 0;
  height: 29px;
}
/* line 426, ../sass/fields/_posts.scss */
.panels .select2-container-multi .select2-choice .select2-arrow {
  border-radius: 0;
  background-image: none;
  background-color: #e9e9e9;
}
/* line 432, ../sass/fields/_posts.scss */
.panels .select2-container-multi .select2-choices {
  background-image: none;
}
/* line 434, ../sass/fields/_posts.scss */
.panels .select2-container-multi .select2-choices .select2-search-choice {
  border-radius: 0;
  background-image: none;
  background-color: #e9e9e9;
  box-shadow: none;
}
/* line 441, ../sass/fields/_posts.scss */
.panels .select2-container-multi .select2-search-choice-close {
  top: 3px;
}

/* line 447, ../sass/fields/_posts.scss */
.input-type-archive .filter-post_type-container .panel-filter-row {
  border-top: 0;
}

/* line 1, ../sass/fields/_repeater.scss */
.panel-repeater-row {
  clear: both;
  background: white;
  border: 1px solid #dddddd;
  border-top: 0;
  margin: 0 0 15px;
}
/* line 7, ../sass/fields/_repeater.scss */
.panel-repeater-row.panel-toggle-closed {
  border-color: transparent;
}
/* line 10, ../sass/fields/_repeater.scss */
.panel-repeater-row .panel-input,
.panel-repeater-row fieldset.input-type-link {
  padding: 0 15px;
  background-color: white;
  border-bottom: 0;
  margin-top: 20px;
}
/* line 18, ../sass/fields/_repeater.scss */
.panel-repeater-row .panel-input.input-type-text, .panel-repeater-row .panel-input.input-type-title {
  margin-left: 0;
  margin-right: 0;
}
/* line 24, ../sass/fields/_repeater.scss */
.panel-repeater-row .panel-input ~ .panel-input {
  padding-top: 0;
}

/* line 29, ../sass/fields/_repeater.scss */
.panel-repeater-row > .panel-input {
  clear: none;
}

/* line 33, ../sass/fields/_repeater.scss */
.panels .ui-widget-content.panel-input-group,
.panel-repeater-row .panel-input {
  padding: 20px 0 0;
  border-radius: 0;
  background-color: #fafafa;
}

/* line 40, ../sass/fields/_repeater.scss */
.panel-row-editor fieldset,
.panel-repeater-row {
  box-shadow: none;
}

/* line 45, ../sass/fields/_repeater.scss */
.panel-input-repeater-row-controls .move {
  display: inline-block;
  margin-left: 0;
  overflow: hidden;
  vertical-align: middle;
  color: #999999;
  text-decoration: none;
  line-height: 25px;
  cursor: pointer;
}

/* line 55, ../sass/fields/_repeater.scss */
.panel-input-repeater-row-controls .move:hover {
  color: #333333;
}

/* line 59, ../sass/fields/_repeater.scss */
.panels .move {
  color: white;
  position: absolute;
  height: 100%;
  width: 40px;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 1;
  padding: 18px 0;
}
/* line 69, ../sass/fields/_repeater.scss */
.panels .move:hover, .panels .move:focus {
  color: #dadada;
}

/* line 75, ../sass/fields/_repeater.scss */
.panel-input-repeater-row-controls .delete {
  display: inline-block;
  margin-left: 10px;
  overflow: hidden;
  vertical-align: middle;
  color: #999999;
  text-decoration: none;
  float: right;
  line-height: 25px;
}

/* line 85, ../sass/fields/_repeater.scss */
.panel-input-repeater-row-controls .delete:hover {
  color: #c43d3a;
}

/* line 89, ../sass/fields/_repeater.scss */
.panel-repeater-new-row {
  text-decoration: none;
}

/* line 92, ../sass/fields/_repeater.scss */
.panel-repeater-new-row:before {
  color: green;
  font-size: 125%;
  vertical-align: middle;
}

/* line 98, ../sass/fields/_repeater.scss */
.panel-children-container {
  clear: both;
  background: #fefefe;
  padding: 0;
  border: thin solid #dddddd;
  border-top: 0;
  margin-bottom: 30px;
}
/* line 105, ../sass/fields/_repeater.scss */
.panel-children-container.panel-toggle-closed {
  border-color: transparent;
}
/* line 108, ../sass/fields/_repeater.scss */
.panel-children-container > h4 {
  margin-top: 0;
  margin-bottom: 1.5em;
}
/* line 112, ../sass/fields/_repeater.scss */
.panel-children-container .panel-row {
  margin-top: 0;
  margin-bottom: 15px;
}

/* line 118, ../sass/fields/_repeater.scss */
.panel-input-repeater > .panel-input-label,
.panel-input-type-group > .panel-input-label {
  font-size: 18px;
  margin-bottom: 18px;
}

/* line 124, ../sass/fields/_repeater.scss */
.panel-repeater-new-row {
  height: 42px;
  line-height: 43px;
  padding: 0 20px;
  background: #2ea2cc;
  color: white;
  text-decoration: none;
  vertical-align: top;
  display: inline-block;
  font-size: 12px;
  margin: 0;
  white-space: nowrap;
}
/* line 136, ../sass/fields/_repeater.scss */
.panel-repeater-new-row:hover {
  background: #1e8cbe;
  color: white;
}
/* line 140, ../sass/fields/_repeater.scss */
.panel-repeater-new-row:focus, .panel-repeater-new-row:active {
  background: #1b7aa6;
  color: rgba(255, 255, 255, 0.95);
  vertical-align: top;
}
/* line 146, ../sass/fields/_repeater.scss */
.panel-repeater-new-row:before {
  color: white;
  padding-right: 5px;
  vertical-align: top;
}

/* line 153, ../sass/fields/_repeater.scss */
.panel-repeater-row .panel-input,
.panel-repeater-row fieldset.input-type-link {
  background-color: white;
  border-bottom: 0 none;
  margin-top: 20px;
  padding: 0 15px;
}

/* line 161, ../sass/fields/_repeater.scss */
.panel-children .input-name-nav_title {
  display: none;
}

/**
 * Panel Children
 */
/* line 169, ../sass/fields/_repeater.scss */
.panel-children {
  padding: 0 15px;
  margin-bottom: 15px;
  margin-top: 20px;
}

/* line 175, ../sass/fields/_repeater.scss */
.panel-children-container .panel-row {
  margin-top: 12px;
  margin-bottom: 12px;
}

/* line 1, ../sass/fields/_gallery.scss */
.gallery-field-selection {
  overflow: hidden;
}

/* line 4, ../sass/fields/_gallery.scss */
.gallery-field-item {
  float: left;
  margin: 0.25em 0.5em;
}

/* line 2, ../sass/fields/_image-select.scss */
.input-type-imageselect label {
  display: inline-block;
  vertical-align: top;
}
/* line 7, ../sass/fields/_image-select.scss */
.input-type-imageselect .label-text {
  width: 80px;
}
/* line 11, ../sass/fields/_image-select.scss */
.input-type-imageselect input[type="radio"] {
  display: none;
}
/* line 15, ../sass/fields/_image-select.scss */
.input-type-imageselect img {
  background: #cccccc;
  opacity: 0.4;
  transition: all 0.1s ease-out;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: block;
}
/* line 23, ../sass/fields/_image-select.scss */
.input-type-imageselect input[type="radio"]:checked + img, .input-type-imageselect img:hover {
  opacity: 0.6;
  background-color: white;
  border: thin solid #d7d7d7;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
}
/* line 30, ../sass/fields/_image-select.scss */
.input-type-imageselect input[type="radio"]:checked + img {
  opacity: 1;
}
/* line 34, ../sass/fields/_image-select.scss */
.input-type-imageselect .label-text {
  display: block;
  text-align: center;
  font-weight: bold;
  padding: 2px;
  border: thin solid transparent;
}
/* line 42, ../sass/fields/_image-select.scss */
.input-type-imageselect input[type="radio"]:checked + .label-text, .input-type-imageselect input[type="radio"] + .label-text:hover {
  background-color: white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  border-color: #d7d7d7;
}

/**
 * Base
 */
/* line 5, ../sass/_jquery-ui-overwrites.scss */
.panels .ui-widget-header {
  background: transparent;
  border: none;
  color: inherit;
  font-weight: inherit;
}
/* line 12, ../sass/_jquery-ui-overwrites.scss */
.panels .ui-widget-content {
  border: none;
  color: inherit;
  background: transparent;
}
/* line 18, ../sass/_jquery-ui-overwrites.scss */
.panels .ui-state-default,
.panels .ui-widget-content .ui-state-default,
.panels .ui-widget-header .ui-state-default {
  position: relative;
  top: 2px;
  background: #e9e9e9;
  border: none;
  color: inherit;
  font-weight: inherit;
}
/* line 31, ../sass/_jquery-ui-overwrites.scss */
.panels .ui-state-hover,
.panels .ui-widget-content .ui-state-hover,
.panels .ui-widget-header .ui-state-hover,
.panels .ui-state-focus,
.panels .ui-widget-content .ui-state-focus,
.panels .ui-widget-header .ui-state-focus {
  background: #e1e1e1;
  outline: none;
}
/* line 41, ../sass/_jquery-ui-overwrites.scss */
.panels .ui-state-active,
.panels .ui-widget-content .ui-state-active,
.panels .ui-widget-header .ui-state-active {
  top: 0;
  background: transparent;
  border: thin solid #dddddd;
  border-bottom: thin solid #fafafa;
  color: #2b2b2b;
  font-weight: bold;
}

/**
 * Tabs
 */
/* line 59, ../sass/_jquery-ui-overwrites.scss */
.panels .ui-tabs .ui-tabs-panel {
  padding: 0;
}
/* line 62, ../sass/_jquery-ui-overwrites.scss */
.panels .ui-tabs fieldset.ui-tabs-panel {
  padding-top: 1em;
}
/* line 66, ../sass/_jquery-ui-overwrites.scss */
.panels .ui-tabs .ui-tabs-nav li {
  margin-right: 0.3em;
}
/* line 70, ../sass/_jquery-ui-overwrites.scss */
.panels .ui-tabs .ui-tabs-nav {
  border-bottom: thin solid #dddddd;
}
/* line 74, ../sass/_jquery-ui-overwrites.scss */
.panels .ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,
.panels .ui-tabs .ui-tabs-nav li.ui-tabs-focus .ui-tabs-anchor {
  border: none;
  outline: none;
}
