.ui-widget {
  font-family: inherit;
  font-size: 100%;
}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
  font-family: inherit;
  font-size: 1em;
}
.ui-widget .ui-widget {
  font-size: 1em;
}

.panel-row, .panel-row * {
  box-sizing: border-box;
}

.panel-row {
  padding: 10px;
  overflow: hidden;
  clear: both;
  border: 1px solid #DDD;
  background-color: #fafafa;
  margin-bottom: 5px;
  margin-top: 5px;
}
.panel-row.ui-sortable-helper {
  border: 1px dashed #AAA;
  opacity: .5;
}
.panel-row.ui-sortable-placeholder {
  border: 1px dashed #DDD;
  visibility: visible;
}

.panel-row .panel-actions .delete_panel {
  display: inline-block;
  margin-left: 10px;
  overflow: hidden;
  vertical-align: middle;
  color: #999;
  text-decoration: none;
  float: right;
}
.panel-row .panel-actions .delete_panel:hover {
  color: #c43d3a;
}
.panel-row .panel-actions .move-panel {
  display: inline-block;
  width: 16px;
  margin-right: 10px;
  overflow: hidden;
  vertical-align: middle;
  cursor: move;
  color: #999;
}

#new-panel {
  display: none;
}

#TB_ajaxContent {
  width: 640px !important;
  min-height: 90% !important;
}

.panel-selection-list {
  overflow: auto;
  width: 630px;
}

.new-panel-option {
  display: block;
  float: left;
  width: 290px;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  margin-right: 16px;
  margin-bottom: 16px;
}
.new-panel-option .thumbnail {
  display: block;
  text-decoration: none;
  overflow: hidden;
}
.new-panel-option .thumbnail:hover {
  box-shadow: #21759B 0 0 6px;
}
.new-panel-option .panel-icon {
  float: left;
  height: 100px;
  width: 133px;
  border-right: 1px solid #ccc;
  text-align: center;
  line-height: 100px;
  background-color: #F9F9F9;
  margin-right: 15px;
}
.new-panel-option .panel-icon img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
.new-panel-option .panel-title {
  display: block;
  color: #21759B;
  font-weight: bold;
  font-size: 110%;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 5px;
}
.new-panel-option .panel-description {
  display: block;
  margin-right: 15px;
}
.new-panel-option .fields {
  display: none;
}

.panel-row-editor {
  margin: 2em 0.5em;
}
.panel-row-editor .panel-input {
  margin-bottom: 2em;
  clear: both;
}
.panel-row-editor .panel-input-label {
  font-weight: bold;
  font-size: 125%;
  display: block;
  margin-bottom: 0.5em;
}
.panel-row-editor .panel-input-field {
  display: block;
}
.panel-row-editor .panel-input-field input, .panel-row-editor .panel-input-field textarea {
  width: 100%;
}
.panel-row-editor .panel-checkbox-label {
  font-weight: normal;
  font-size: 100%;
}
.panel-row-editor .panel-input-checkbox {
  display: inline;
}
.panel-row-editor .panel-input-checkbox input {
  width: auto;
  margin-right: 0.5em;
}
.panel-row-editor .radio-option {
  margin-right: 20px;
}
.panel-row-editor .radio-option img {
  max-width: 100px;
  max-height: 100px;
}
.panel-row-editor .updated {
  padding: 1em 1.5em;
  font-weight: bold;
}
.panel-row-editor .input-type-video {
  overflow: hidden;
}
.panel-row-editor .input-type-video .panel-input-field {
  width: 50%;
  float: left;
}
.panel-row-editor .input-type-video .panel-input-preview {
  width: 50%;
  float: right;
  text-align: right;
}
.panel-row-editor .input-type-video .panel-input-preview img {
  max-width: 200px;
  max-height: 200px;
}

.panel-row-editor fieldset {
  border: 1px solid #bbb;
  padding: 0.5em 1.5em;
}
.panel-row-editor fieldset.input-type-link {
  border: none;
  padding: 0;
  overflow: hidden;
}
.panel-row-editor fieldset.input-type-link .panel-input-field {
  float: left;
  width: 33%;
  padding-right: 2em;
  min-width: 200px;
  margin-bottom: 1em;
}
.panel-row-editor fieldset.input-type-link .link-field-target {
  padding-right: 0;
  width: auto;
  min-width: 0;
}
