/* line 14, ../sass/mixins/_clearfix.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 19, ../sass/mixins/_clearfix.scss */
.clearfix:after {
  clear: both;
}

/* line 12, ../sass/utility/_utilities.scss */
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 15, ../sass/utility/_utilities.scss */
.pull-right {
  float: right !important;
}

/* line 18, ../sass/utility/_utilities.scss */
.pull-left {
  float: left !important;
}

/* line 27, ../sass/utility/_utilities.scss */
.hide {
  display: none !important;
}

/* line 30, ../sass/utility/_utilities.scss */
.show {
  display: block !important;
}

/* line 33, ../sass/utility/_utilities.scss */
.invisible {
  visibility: hidden;
}

/* line 36, ../sass/utility/_utilities.scss */
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

/* line 45, ../sass/utility/_utilities.scss */
.hidden {
  display: none !important;
  visibility: hidden !important;
}

/* line 1, ../sass/modules/_ui-widget.scss */
.ui-widget {
  font-family: inherit;
  font-size: 100%;
}
/* line 5, ../sass/modules/_ui-widget.scss */
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
  font-family: inherit;
  font-size: 1em;
}
/* line 10, ../sass/modules/_ui-widget.scss */
.ui-widget .ui-widget {
  font-size: 1em;
}

/* line 1, ../sass/modules/_create-new-panel.scss */
.create-new-panel {
  display: block;
  color: #999;
  text-decoration: none;
  margin-top: 1em;
}
/* line 7, ../sass/modules/_create-new-panel.scss */
.create-new-panel:before {
  font-size: 175%;
  vertical-align: middle;
  margin-right: 5px;
}

/**
 * Base media component
 * Source: http://stubbornella.org/content/?p=497
 */
/* line 7, ../sass/modules/_media.scss */
.media,
.media-body {
  overflow: hidden;
  zoom: 1;
}

/* line 14, ../sass/modules/_media.scss */
.media,
.media .media {
  margin-top: 15px;
}

/* line 18, ../sass/modules/_media.scss */
.media:first-child {
  margin-top: 0;
}

/* line 23, ../sass/modules/_media.scss */
.media-object {
  display: block;
}

/* line 28, ../sass/modules/_media.scss */
.media-heading {
  margin: 0 0 5px;
}

/* line 37, ../sass/modules/_media.scss */
.media .pull-left {
  margin-right: 15px;
}
/* line 40, ../sass/modules/_media.scss */
.media .pull-right {
  margin-left: 15px;
}

/* line 50, ../sass/modules/_media.scss */
.media-list {
  padding-left: 0;
  list-style: none;
}

/* line 4, ../sass/modules/_close.scss */
.close {
  float: right;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1;
  color: #111;
  opacity: .7;
}
/* line 12, ../sass/modules/_close.scss */
.close:hover, .close:focus {
  text-decoration: none;
  cursor: pointer;
  opacity: 1;
}

/* line 23, ../sass/modules/_close.scss */
button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
/* line 30, ../sass/modules/_close.scss */
button.close:focus {
  opacity: 0.7;
}

/* line 1, ../sass/modules/_delete-panel.scss */
.delete-panel {
  color: #d15e61;
  text-decoration: none;
}
/* line 5, ../sass/modules/_delete-panel.scss */
.delete-panel:hover {
  color: #b03236;
}

/* line 2, ../sass/modules/_caret.scss */
.caret {
  display: inline-block;
  vertical-align: middle;
  margin-left: 2px;
  width: 0;
  height: 0;
  border: 4.5px solid transparent;
  border-top: 6.5px solid #777777;
}

/* line 1, ../sass/panels/_panel.scss */
.panel-row, .panel-row * {
  box-sizing: border-box;
}

/* line 5, ../sass/panels/_panel.scss */
.panel-row {
  position: relative;
  padding: 6px 6px;
  margin: 20px 0;
  border: thin solid #dddddd;
  background-color: #fafafa;
}
/* line 14, ../sass/panels/_panel.scss */
.panel-row:not(.editing) {
  cursor: pointer;
}
/* line 17, ../sass/panels/_panel.scss */
.panel-row:not(.editing):hover {
  background-color: whitesmoke;
}
/* line 22, ../sass/panels/_panel.scss */
.panel-row.ui-sortable-helper {
  border: thin dashed #AAA;
  opacity: .5;
}
/* line 27, ../sass/panels/_panel.scss */
.panel-row.ui-sortable-placeholder {
  border: thin dashed #DDD;
  visibility: visible;
}
/* line 32, ../sass/panels/_panel.scss */
.panel-row > .close {
  position: absolute;
  top: 0;
  right: 0;
  height: 30px;
  width: 34px;
}
/* line 41, ../sass/panels/_panel.scss */
.panel-row.editing > .close {
  height: 32px;
  z-index: 99;
}
/* line 44, ../sass/panels/_panel.scss */
.panel-row.editing > .close .caret {
  width: 0;
  height: 0;
  border: 4.5px solid transparent;
  border-bottom: 6.5px solid #777777;
}
/* line 47, ../sass/panels/_panel.scss */
.panel-row > button.close:focus {
  outline: none;
}

/* line 53, ../sass/panels/_panel.scss */
.panel-row.panel-warning {
  color: #e7deab;
  background-color: #fcf8e3;
  border-color: #e7deab;
}

/* line 2, ../sass/panels/_panel-header.scss */
.editing > .panel-row-header {
  display: none;
}
/* line 6, ../sass/panels/_panel-header.scss */
.panel-row-header .media-object {
  padding-right: 6px;
  border-right: thin solid #dddddd;
}
/* line 11, ../sass/panels/_panel-header.scss */
.panel-row-header .panel-title {
  padding: 0 !important;
  border-bottom: none;
}
/* line 16, ../sass/panels/_panel-header.scss */
.panel-row-header .panel-type {
  margin-top: 0.2em;
  font-weight: normal;
  font-style: italic;
  color: #A8A8A8;
}

/* line 1, ../sass/panels/_new-panel.scss */
#new-panel {
  display: none;
}

/* line 5, ../sass/panels/_new-panel.scss */
#TB_ajaxContent {
  width: 640px !important;
  min-height: 90% !important;
}

/* line 10, ../sass/panels/_new-panel.scss */
.panel-selection-list {
  overflow: auto;
  width: 630px;
}

/* line 15, ../sass/panels/_new-panel.scss */
.new-panel-option {
  display: block;
  float: left;
  width: 290px;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  margin-right: 16px;
  margin-bottom: 16px;
}
/* line 28, ../sass/panels/_new-panel.scss */
.new-panel-option .thumbnail {
  display: block;
  text-decoration: none;
  overflow: hidden;
}
/* line 34, ../sass/panels/_new-panel.scss */
.new-panel-option .thumbnail:hover {
  box-shadow: #21759B 0 0 6px;
}
/* line 38, ../sass/panels/_new-panel.scss */
.new-panel-option .panel-icon {
  float: left;
  height: 100px;
  width: 133px;
  border-right: 1px solid #ccc;
  text-align: center;
  line-height: 100px;
  background-color: #F9F9F9;
  margin-right: 15px;
}
/* line 48, ../sass/panels/_new-panel.scss */
.new-panel-option .panel-icon img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
/* line 57, ../sass/panels/_new-panel.scss */
.new-panel-option .panel-title {
  display: block;
  color: #21759B;
  font-weight: bold;
  font-size: 110%;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 5px;
}
/* line 66, ../sass/panels/_new-panel.scss */
.new-panel-option .panel-description {
  display: block;
  margin-right: 15px;
}
/* line 71, ../sass/panels/_new-panel.scss */
.new-panel-option .fields {
  display: none;
}

/**
 * Editor
 */
/* line 4, ../sass/panels/_panel-editor.scss */
.panel-row-editor {
  display: none;
  padding: 6px 6px;
}
/* line 8, ../sass/panels/_panel-editor.scss */
.editing > .panel-row-editor {
  display: block;
}

/**
 * Editor inputs
 */
/* line 17, ../sass/panels/_panel-editor.scss */
.panel-row-editor .panel-input {
  margin-bottom: 2em;
  clear: both;
}
/* line 22, ../sass/panels/_panel-editor.scss */
.panel-row-editor .panel-input-label {
  font-weight: light;
  font-style: italic;
  display: block;
  margin-bottom: 0.5em;
  color: #999;
}
/* line 30, ../sass/panels/_panel-editor.scss */
.panel-row-editor .panel-input-field {
  display: block;
}
/* line 32, ../sass/panels/_panel-editor.scss */
.panel-row-editor .panel-input-field input, .panel-row-editor .panel-input-field textarea {
  width: 100%;
}
/* line 35, ../sass/panels/_panel-editor.scss */
.panel-row-editor .panel-checkbox-label {
  font-weight: normal;
  font-size: 100%;
}
/* line 40, ../sass/panels/_panel-editor.scss */
.panel-row-editor .panel-input-checkbox {
  display: inline;
}
/* line 43, ../sass/panels/_panel-editor.scss */
.panel-row-editor .panel-input-checkbox input {
  width: auto;
  margin-right: 0.5em;
}
/* line 49, ../sass/panels/_panel-editor.scss */
.panel-row-editor .radio-option {
  margin-right: 5px;
}
/* line 51, ../sass/panels/_panel-editor.scss */
.panel-row-editor .radio-option img {
  max-width: 100px;
  max-height: 100px;
}
/* line 54, ../sass/panels/_panel-editor.scss */
.panel-row-editor .updated {
  padding: 1em 1.5em;
  font-weight: bold;
}
/* line 59, ../sass/panels/_panel-editor.scss */
.panel-row-editor .input-type-video {
  overflow: hidden;
}
/* line 62, ../sass/panels/_panel-editor.scss */
.panel-row-editor .input-type-video .panel-input-field {
  width: 50%;
  float: left;
}
/* line 67, ../sass/panels/_panel-editor.scss */
.panel-row-editor .input-type-video .panel-input-preview {
  width: 50%;
  float: right;
  text-align: right;
}
/* line 72, ../sass/panels/_panel-editor.scss */
.panel-row-editor .input-type-video .panel-input-preview img {
  max-width: 200px;
  max-height: 200px;
}

/**
 * Editor fieldset
 */
/* line 80, ../sass/panels/_panel-editor.scss */
.panel-row-editor fieldset {
  border: 1px solid #bbb;
  padding: 0.5em 1.5em;
}
/* line 84, ../sass/panels/_panel-editor.scss */
.panel-row-editor fieldset.input-type-link {
  border: none;
  padding: 0;
  overflow: hidden;
}
/* line 89, ../sass/panels/_panel-editor.scss */
.panel-row-editor fieldset.input-type-link .panel-input-field {
  float: left;
  width: 33%;
  padding-right: 2em;
  min-width: 200px;
  margin-bottom: 1em;
}
/* line 97, ../sass/panels/_panel-editor.scss */
.panel-row-editor fieldset.input-type-link .link-field-target {
  padding-right: 0;
  width: auto;
  min-width: 0;
}

/* line 3, ../sass/input/_layout.scss */
.input-name-layout input[type="radio"] {
  display: none;
}
/* line 7, ../sass/input/_layout.scss */
.input-name-layout img {
  background: #ccc;
  opacity: 0.4;
  -webkit-transition: all 0.1s ease-out;
          transition: all 0.1s ease-out;
}
/* line 13, ../sass/input/_layout.scss */
.input-name-layout input[type="radio"]:checked + img, .input-name-layout img:hover {
  opacity: 0.6;
  background: transparent;
  border: thin solid #d7d7d7;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
}
/* line 20, ../sass/input/_layout.scss */
.input-name-layout input[type="radio"]:checked + img {
  opacity: 1;
}

/* line 1, ../sass/input/_description.scss */
.description.panel-input-description {
  font-style: normal;
  font-size: 85%;
  color: #a2a2a2;
}

/* line 1, ../sass/input/_wp-uploader.scss */
.uploadContainer {
  margin-top: 0 !important;
}

/* line 6, ../sass/input/_wp-uploader.scss */
.uploaderSection .drag-drop-inside {
  margin-bottom: 48px;
}
/* line 10, ../sass/input/_wp-uploader.scss */
.uploaderSection .drag-drop-buttons {
  text-align: center;
}

/* line 2, ../sass/fields/_posts.scss */
.panel-input-posts fieldset {
  border: none;
  padding: 1em 0;
}

/* line 8, ../sass/fields/_posts.scss */
.panel-input-posts .search-controls {
  padding-bottom: 1em;
  border-bottom: 1px solid #DDD;
  margin-bottom: 1em;
}
/* line 13, ../sass/fields/_posts.scss */
.panel-input-posts .search-controls .panel-filter-row {
  border-top: none;
}
/* line 15, ../sass/fields/_posts.scss */
.panel-input-posts .search-controls .filter-options {
  width: 100%;
}
/* line 17, ../sass/fields/_posts.scss */
.panel-input-posts .search-controls select, .panel-input-posts .search-controls .select2-container {
  width: 100%;
}
/* line 19, ../sass/fields/_posts.scss */
.panel-input-posts .search-controls .button {
  margin-top: 1em;
}
/* line 21, ../sass/fields/_posts.scss */
.panel-input-posts .search-controls label {
  display: block;
  font-style: italic;
  color: #666;
}
/* line 27, ../sass/fields/_posts.scss */
.panel-input-posts .search-controls .description {
  margin-top: 1em;
  margin-left: 1em;
  line-height: 28px;
  display: inline-block;
  color: #666;
}

/* line 37, ../sass/fields/_posts.scss */
.panel-input-posts .selection-notices {
  margin: 1em 0;
  background-color: #efd5d6;
  color: #c43d3a;
  padding: 0.5em;
  font-weight: bold;
  display: none;
}
/* line 46, ../sass/fields/_posts.scss */
.panel-input-posts .selection {
  width: 100%;
  overflow: hidden;
}
/* line 51, ../sass/fields/_posts.scss */
.panel-input-posts .selected-post {
  position: relative;
}
/* line 55, ../sass/fields/_posts.scss */
.panel-input-posts .selected-post .remove-selected-post {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em;
  background-color: #fff;
  text-decoration: none;
  display: none;
}
/* line 65, ../sass/fields/_posts.scss */
.panel-input-posts .selected-post .remove-selected-post:hover {
  color: #c43d3a;
}
/* line 69, ../sass/fields/_posts.scss */
.panel-input-posts .selection .selected-post:hover {
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
/* line 74, ../sass/fields/_posts.scss */
.panel-input-posts .selected-post:hover .remove-selected-post {
  display: block;
}
/* line 78, ../sass/fields/_posts.scss */
.panel-input-posts .selected-post.empty .remove-selected-post {
  display: none;
}
/* line 82, ../sass/fields/_posts.scss */
.panel-input-posts .post-preview, .panel-input-posts .selected-post {
  width: 100%;
  padding: 0.5em;
  background-color: #f1f1f1;
  margin-bottom: 1em;
  border: 1px solid #ddd;
  float: left;
}
/* line 91, ../sass/fields/_posts.scss */
.panel-input-posts .selection .selected-post .select2-container {
  width: 100%;
  max-width: 300px;
}
/* line 96, ../sass/fields/_posts.scss */
.panel-input-posts .post-preview .post-title, .panel-input-posts .selected-post .post-title {
  width: 75%;
  max-width: 300px;
  float: left;
  font-size: 150%;
  margin-bottom: 0.5em;
}
/* line 104, ../sass/fields/_posts.scss */
.panel-input-posts .post-preview .post-excerpt, .panel-input-posts .selected-post .post-excerpt {
  float: left;
  margin-top: 1em;
  padding-right: 2em;
  width: 75%;
  max-width: 300px;
  clear: left;
}
/* line 113, ../sass/fields/_posts.scss */
.panel-input-posts .post-preview .post-thumbnail, .panel-input-posts .selected-post .post-thumbnail {
  float: right;
  width: 20%;
  text-align: right;
}
/* line 119, ../sass/fields/_posts.scss */
.panel-input-posts .post-preview .post-thumbnail img, .panel-input-posts .selected-post .post-thumbnail img {
  max-width: 100%;
  height: auto;
}
/* line 124, ../sass/fields/_posts.scss */
.panel-input-posts .selected-post.empty {
  background-color: #fff;
}
/* line 128, ../sass/fields/_posts.scss */
.panel-input-posts .selected-post.empty .post-title {
  background-color: #f1f1f1;
  height: 1.5em;
}
/* line 133, ../sass/fields/_posts.scss */
.panel-input-posts .selected-post.empty .post-excerpt {
  height: 4em;
  background-color: #f1f1f1;
}
/* line 138, ../sass/fields/_posts.scss */
.panel-input-posts .selected-post.empty .post-thumbnail {
  background-color: #f1f1f1;
  width: 8em;
  height: 8em;
}
/* line 144, ../sass/fields/_posts.scss */
.panel-input-posts .select-filters {
  width: 100%;
}
/* line 148, ../sass/fields/_posts.scss */
.panel-input-posts .panel-filter-row {
  border-top: 1px solid #DDD;
  padding: 10px 0;
}
/* line 153, ../sass/fields/_posts.scss */
.panel-input-posts .query-filters {
  margin-top: 10px;
}
/* line 156, ../sass/fields/_posts.scss */
.panel-input-posts .query-filters label {
  display: inline-block;
  width: 20%;
}
/* line 162, ../sass/fields/_posts.scss */
.panel-input-posts .filter-options {
  display: inline-block;
  width: 70%;
}
/* line 167, ../sass/fields/_posts.scss */
.panel-input-posts .panel-filter-row select, .panel-input-posts .panel-filter-row .select2-container {
  width: 100% !important;
}
/* line 171, ../sass/fields/_posts.scss */
.panel-input-posts .remove-filter {
  display: inline-block;
  overflow: hidden;
  margin-left: 10px;
  color: #999;
  text-decoration: none;
  vertical-align: middle;
  float: right;
}
/* line 180, ../sass/fields/_posts.scss */
.panel-input-posts .remove-filter:hover {
  color: #c43d3a;
}

/* line 1, ../sass/fields/_repeater.scss */
.panel-repeater-row {
  margin: 5px 0;
  padding: 0 5px 5px;
  border-bottom: 1px solid #ddd;
  clear: both;
}

/* line 8, ../sass/fields/_repeater.scss */
.panel-repeater-row > .panel-input {
  clear: none;
}

/* line 12, ../sass/fields/_repeater.scss */
.panel-input-repeater-row-controls .delete {
  display: inline-block;
  margin-left: 10px;
  overflow: hidden;
  vertical-align: middle;
  color: #999;
  text-decoration: none;
  float: right;
  line-height: 25px;
}

/* line 22, ../sass/fields/_repeater.scss */
.panel-input-repeater-row-controls .delete:hover {
  color: #c43d3a;
}

/* line 26, ../sass/fields/_repeater.scss */
.panel-repeater-new-row {
  text-decoration: none;
}

/* line 29, ../sass/fields/_repeater.scss */
.panel-repeater-new-row:before {
  color: green;
  font-size: 125%;
  vertical-align: middle;
}

/* line 35, ../sass/fields/_repeater.scss */
.panel-children-container {
  padding: 1em 0 2em 0;
  border-top: 1px solid #DDD;
  clear: both;
}

/* line 41, ../sass/fields/_repeater.scss */
.panel-children-container h4 {
  font-weight: bold;
  font-size: 125%;
  display: block;
  margin: 0 0 0.5em;
}
