/* Query Fields */
.panel-input-posts fieldset {
  border: none;
  padding: 1em 0;
}

.panel-input-posts .search-controls {
  padding-bottom: 1em;
  border-bottom: 1px solid #DDD;
  margin-bottom: 1em;
}

.panel-input-posts .search-controls .panel-filter-row {
  border-top: none;
}

.panel-input-posts .search-controls .filter-options {
  width: 100%;
}

.panel-input-posts .search-controls label {
  display: block;
  font-style: italic;
  color: #666;
}

.panel-input-posts .search-controls select,
.panel-input-posts .search-controls .select2-container {
  width: 100%;
}

.panel-input-posts .search-controls .button {
  margin-top: 1em;
}

.panel-input-posts .search-controls .description {
  margin-top: 1em;
  margin-left: 1em;
  line-height: 28px;
  display: inline-block;
  color: #666;
}

.panel-input-posts .selection-notices {
  margin: 1em 0;
  background-color: #efd5d6;
  color: #c43d3a;
  padding: 0.5em;
  font-weight: bold;
  display: none;
}

.panel-input-posts .selection {
  width: 100%;
  overflow: hidden;
}

.panel-input-posts .selected-post {
  position: relative;
}

.panel-input-posts .selected-post .remove-selected-post {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em;
  background-color: #fff;
  text-decoration: none;
  display: none;
}

.panel-input-posts .selected-post .remove-selected-post:hover {
  color: #c43d3a;
}

.panel-input-posts .selection .selected-post:hover {
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.panel-input-posts .selected-post:hover .remove-selected-post {
  display: block;
}

.panel-input-posts .selected-post.empty .remove-selected-post {
  display: none;
}

.panel-input-posts .post-preview,
.panel-input-posts .selected-post {
  width: 100%;
  padding: 0.5em;
  background-color: #f1f1f1;
  margin-bottom: 1em;
  border: 1px solid #ddd;
  float: left;
}

.panel-input-posts .selection .selected-post .select2-container {
  width: 100%;
  max-width: 300px;
}

.panel-input-posts .post-preview .post-title,
.panel-input-posts .selected-post .post-title {
  width: 75%;
  max-width: 300px;
  float: left;
  font-size: 150%;
  margin-bottom: 0.5em;
}

.panel-input-posts .post-preview .post-excerpt,
.panel-input-posts .selected-post .post-excerpt {
  float: left;
  margin-top: 1em;
  padding-right: 2em;
  width: 75%;
  max-width: 300px;
  clear: left;
}

.panel-input-posts .post-preview .post-thumbnail,
.panel-input-posts .selected-post .post-thumbnail {
  float: right;
  width: 20%;
  text-align: right;
}

.panel-input-posts .post-preview .post-thumbnail img,
.panel-input-posts .selected-post .post-thumbnail img {
  max-width: 100%;
  height: auto;
}

.panel-input-posts .selected-post.empty {
  background-color: #fff;
}

.panel-input-posts .selected-post.empty .post-title {
  background-color: #f1f1f1;
  height: 1.5em;
}

.panel-input-posts .selected-post.empty .post-excerpt {
  height: 4em;
  background-color: #f1f1f1;
}

.panel-input-posts .selected-post.empty .post-thumbnail {
  background-color: #f1f1f1;
  width: 8em;
  height: 8em;
}

.panel-input-posts .select-filters {
  width: 100%;
}

.panel-input-posts .panel-filter-row {
  border-top: 1px solid #DDD;
  padding: 10px 0;
}

.panel-input-posts .query-filters {
  margin-top: 10px;
}

.panel-input-posts .query-filters label {
  display: inline-block;
  width: 20%;
}

.panel-input-posts .filter-options {
  display: inline-block;
  width: 70%;
}

.panel-input-posts .panel-filter-row select,
.panel-input-posts .panel-filter-row .select2-container {
  width: 100% !important;
}

.panel-input-posts .remove-filter {
  display: inline-block;
  overflow: hidden;
  margin-left: 10px;
  color: #999;
  text-decoration: none;
  vertical-align: middle;
  float: right;
}

.panel-input-posts .remove-filter:hover {
  color: #c43d3a;
}

.panel-repeater-row {
  margin: 5px 0;
  padding: 0 5px 5px;
  border-bottom: 1px solid #ddd;
  clear: both;
}

.panel-repeater-row > .panel-input {
  clear: none;
}

.panel-input-repeater-row-controls .delete {
  display: inline-block;
  margin-left: 10px;
  overflow: hidden;
  vertical-align: middle;
  color: #999;
  text-decoration: none;
  float: right;
  line-height: 25px;
}

.panel-input-repeater-row-controls .delete:hover {
  color: #c43d3a;
}

.panel-repeater-new-row {
  text-decoration: none;
}

.panel-repeater-new-row:before {
  color: green;
  font-size: 125%;
  vertical-align: middle;
}

.panel-children-container {
  padding: 1em 0 2em 0;
  border-top: 1px solid #DDD;
  clear: both;
}

.panel-children-container h4 {
  font-weight: bold;
  font-size: 125%;
  display: block;
  margin: 0 0 0.5em;
}

.create-new-panel {
  display: block;
  color: #999;
  text-decoration: none;
  margin-top: 1em;
}

.create-new-panel:before {
  font-size: 175%;
  vertical-align: middle;
  margin-right: 5px;
}
